<b>Bienvenido a Bazar.</b> 
<br/>
Su usuario es: <%= @username %>
<br/>
Para entrar en Bazar use el siguiente enlace: 
<br/>

<a href="<%= @url %>"> <%= @url %> </a>

<br/>

Cuando entre en Bazar le recomendamos alguna de estas acciones: 

<br/>
* <a href="<%= @url %>/bazarcms/empresas/<%= @userid -%>/edit">Rellenar los datos de su empresa.</a> 
<br/>
* <a href="<%= @url %>/home"> Realice alguna búsqueda de empresas / Ofertas / Demandas.</a> 
<br/>
* Añada a sus favoritos las empresas que le puedan interesar.