<h3><%=t(:text_cambiar_contrasena)%></h3>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Actualizar y entrar en Bazar" %>
<% end %>
