<div id="tabs-6content" style="width: 460px; margin-bottom: 50px;">

<div class="edit_user"> 
<%= form_for(@user, :url => "/altaregistrarse") do |f| %>
  <% if @user.errors.any? %>

  <br />

    <div id="error_explanation" class="login-error">
      <h2><%= pluralize(@user.errors.count, "error") %> &bull; <%=t(:text_no_se_ha_podido_salvar_los_datos_del_usuario)%></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li><br />
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.text_field :login, :placeholder => "usuario", :class => "login-input" %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "tu correo", :class => "login-input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, :placeholder => "tu contraseña", :class => "login-input" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Confirma tu contraseña", :class => "login-input" %>
  </div>

  <div class="login-caja-botones">

    <div class="actions" style="float: bottom;">
      <%= f.submit 'Registrarse en Bazar', :class => "login-boton" %>
    </div>

  </div>
  
<% end %>
</div> <!-- FIN alta usuario -->

</div>

<br/>
<br/>

<script>
    $('input[placeholder]').placeholder();
</script>
