<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery-ui.js" %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.placeholder.min')) %>

<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('queesbazar')) %>

<div class="ficha-container">
<%= render 'form3' %>
</div>