<h3>Listado de Bazares</h3>

<table class="tabla" cellspacing="0">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Act</th>
    <th>Url</th>
    <th>#</th>
    <th colspan="2">Acciones</th>
  </tr>

<% @clusters.each do |cluster| %>
 <% if (cluster.activo == "N") %>
  <tr style="text-align:left;">
<% else %>
  <tr style="font-weight:bold; text-align:left;">
<% end %>   
	<td><%= cluster.id %></td>
    <td><%= cluster.nombre %></td>
    <td><%= cluster.desc %></td>
    <td>
	<% if cluster.activo == 'S' %>
		<%= image_tag('flag_green.png')%>
	<% else %>
		<%= image_tag('flag_red.png')%>
	<% end %>
	</td>
    <td><%= cluster.url %></td>
    <td><%= cluster.empresas %></td>
	<% if (cluster.activo == "S")%>
    	<td><%= link_to image_tag('delete.png'), cluster, :confirm => 'Esta seguro de desactivarlo?', :method => :delete %></td>
	<% else %>
		<td><%= link_to image_tag('add.png'), '/clusters/activar/'+cluster.id.to_s %></td>
	<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @clusters %>

