<br/>
<b>Listado de Bazares</b>
<br/>
<br/>
<table class="tabla" width="650px">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Act</th>
    <th>Url</th>
    <th>Miclave</th>
    <th>Suclave</th>
    <th>#</th>
    <th colspan="2">Acciones</th>
  </tr>

<% @clusters.each do |cluster| %>
 <% if (cluster.activo == "N") %>
  <tr style="text-align:left;">
<% else %>
  <tr style="font-weight:bold; text-align:left;">
<% end %>   
	<td><%= cluster.id %></td>
    <td><%= cluster.nombre %></td>
    <td><%= cluster.desc %></td>
    <td><%= cluster.activo %></td>
    <td><%= cluster.url %></td>
    <td><%= cluster.miclave %></td>
    <td><%= cluster.suclave %></td>
    <td><%= cluster.empresas %></td>
    <td><%= link_to image_tag('pencil.png'), edit_cluster_path(cluster) %></td>
	<% if (cluster.activo == "S")%>
    	<td><%= link_to image_tag('delete.png'), cluster, :confirm => 'Esta seguro de desactivarlo?', :method => :delete %></td>
	<% else %>
		<td><%= link_to image_tag('add.png'), '/clusters/activar/'+cluster.id.to_s %></td>
	<% end %>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @clusters %>
<br />

<%= link_to 'Nuevo Cluster', new_cluster_path %>
