
<p>
  <b><%=t(:text_nombre)%></b>
  <%= @cluster.nombre %>
</p>

<p>
  <b><%=t(:text_descripcion)%></b>
  <%= @cluster.desc %>
</p>

<p>
  <b><%=t(:text_enlace_al_bazar)%></b>
  <%= @cluster.url %>
</p>

<p>
  <b><%=t(:text_total_empresas_en_este_bazar)%></b>
  <%= @cluster.empresas %>
</p>

<br/>

<% if !current_user.nil? %>
<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>
<% end %>

<a class="volver-home-link" href="/home/datos"><%=t(:text_los_datos_de_este_bazar)%></a>
<a class="volver-home-link" href="/home/registrarse"><%=t(:text_darse_de_alta_en_este_bazar)%></a>
<a class="volver-home-link" href="/home/bazares"><%=t(:text_que_es_un_bazar)%></a>

