<h1><%=t(:text_par_metros_de_bazar)%></h1>

<table>
  <tr>
    <th><%=t(:text_parametro)%></th>
    <th><%=t(:text_grupo)%></th>
    <th><%=t(:text_tipo)%></th>
    <th><%=t(:text_valor)%></th>
    <th><%=t(:text_desc)%></th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.nombre %></td>
	<% grupo = Gruposconf.find(conf.grupo_id)%>
    <td><%= grupo.desc %></td>
    <td><%= conf.tipo %></td>
    <td><%= conf.valor %></td>
    <td><%= conf.desc %></td>
    <td><%= link_to t(:label_edit), edit_conf_path(conf) %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to t(:label_new_conf), new_conf_path %>

<%=t(:text_estoy_hay_que_quitarlo_cuando_esten_todos_los_parametros_igual_que_borrar)%> 
