<h1>Parámetros de Bazar</h1>

<table class="tabla">
  <tr>
    <th>Parametro</th>
    <th>Grupo</th>
	<th>Desc</th>    
	<th>Valor</th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.nombre %></td>
	<% grupo = Gruposconf.find(conf.grupo_id)%>
    <td><%= grupo.desc %></td>
	<td><%= conf.desc %></td>
	<td><%= conf.valor %></td>
	<td><%= link_to (image_tag("pencil.png", :border => "0"), edit_conf_path(conf))  %></td>
  </tr>
<% end %>
</table>

<br />
