

<div id="sede-<%= empresasede.id -%>" class="seccion-cajon">

  <div class="seccion-cajon-titulo">
    <%= empresasede.ciudad.descripcion %>
  </div>  
 <div id="sede-mapa-<%= empresasede.id -%>" style="height:150px; width:243px; font-size:0px;" >
 </div>
 <div id="sede-texto-<%= empresasede.id -%>" class="item-texto-sede">
   <%= empresasede.desc %>
 </div>
 
 
 <% if @owner %>
 
 <!-- div class="item-delete-sede-icono">
   <img src="<%= current_theme_image_path('borrar-white.png') %>" onclick="$('#img-<%= empresasede.id -%>').hide(); $.ajax({
      url: '/home/delempresasede/<%= empresasede.empresa_id -%>/<%= empresasede.id -%>'
      });" >
 </div -->
 
 <div id="sede-del-<%= empresasede.id -%>" class="item-delete-sede-icono" onclick="muestraconfirmacion2(<%= empresasede.id -%>)" >
   <img src="<%= current_theme_image_path('borrar-white.png') %>" >
 </div>
 
 <div id="sede-conf-<%= empresasede.id -%>" class="item-delete-sede-confirm" style="display:none" onclick="borrasede(<%= empresasede.empresa_id -%>, <%= empresasede.id -%>);">
   <%= t(:text_seguro_que_desea_borrarla) %>
 </div>
 
 
 
 <% end %>
 
</div>

<script>

$(function() { 
  $("#sede-mapa-<%= empresasede.id -%>" ).geomap({
    center: [ <%= empresasede.ciudad.longitud -%>, <%= empresasede.ciudad.latitud -%> ],
    mode: "static",
    zoom: 4
  }); 
  
  $("#sede-mapa-<%= empresasede.id -%>" ).geomap( "append", { 
    type: "Point", coordinates: [ <%= empresasede.ciudad.longitud -%>, <%= empresasede.ciudad.latitud -%> ] }, 
    "map point" );
  
});

</script>