<div class="seccion-empresa ilumina5" onClick="// window.location = '/home/fichaempresa/<%= BZ_param("BazarId")-%>/<%= empresafav['id'] -%>'; ">
  <div class="empresa-fondo">
    <% img = logo_grande_helper(BZ_param('BazarId'), empresafav['id']) %>
    
    <% if !img.nil? %>
      <div class="empresa-fondo-logo">
        <%= link_to(image_tag(img, :alt => "#{empresafav['nombre']}"), "/home/fichaempresa/#{BZ_param('BazarId')}/#{empresafav['id']}") %> 
      </div>
    <% else %>
      <%= empresafav['nombre'] -%>
    <% end %>
    <div id="fav-<%= BZ_param("BazarId")-%>-<%= empresafav['id'] -%>" class="empresa-favorito"
      onClick="$('#fav-<%= BZ_param("BazarId")-%>-<%= empresafav['id']-%>').load("\/home/\delfav\/<%= BZ_param("BazarId")-%>\/<%= empresafav['id']-%>");" >
      <img class="empresa-favorito-icon" src="<%= current_theme_image_path('corazon-white.png') %>">
    </div>
  </div>
</div>