<div class="seccion-cajon" >
  <div class="cajon-titulo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= ofertafav['bazar_id'] -%>/<%= ofertafav['id']-%>').trigger('click');">
    <%= ofertafav['titulo'] -%>
  </div>
  <div class="cajon-cuerpo-corto" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= ofertafav['bazar_id'] -%>/<%= ofertafav['id'] -%>').trigger('click');">
    <%= truncate_html(ofertafav['texto'], :length => 80).html_safe -%>
  </div>
  <div class="cajon-pie-favoritos">
    <div class="icono-small-empresa">
      
      <% img = logo_grande_helper(ofertafav['bazar_id'], ofertafav['empresa_id']) %>

      <% if !img.nil?  %>
        <% if !img.include?("sinlogo.png") %>
          <div class="empresa-fondo-logo">
            <%= link_to(image_tag(img, :width => 60), "/home/fichaempresa/#{ofertafav['bazar_id']}/#{ofertafav['empresa_id']}") %> 
          </div>
        <% end %>
      <% end %>
      
    </div>
    
    <div id="favofe-<%= ofertafav['bazar_id']-%>-<%= ofertafav['id'] -%>" class="oferta-favorito">

      <img class="oferta-favorito-icon" src="<%= current_theme_image_path('corazon-white.png') %>">

      <script type="text/javascript" charset="utf-8">
        $("#favofe-<%= ofertafav['bazar_id']-%>-<%= ofertafav['id']-%>").click(function() {
          $("#favofe-<%= ofertafav['bazar_id']-%>-<%= ofertafav['id']-%>").load("/home/delofefav/<%= ofertafav['bazar_id']-%>\/<%= ofertafav['id']-%>");
        });        
      </script>

    </div>
  </div>

</div>