<% if @item == 0 %>
  <div id="pag1">
<% end %>


<div class="seccion-cajon ilumina5" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= ofertaresultado.cluster_id -%>/<%= ofertaresultado.oferta_id -%>').trigger('click');">
  
  <% if ofertaresultado.cluster_id == BZ_param("BazarId").to_i && ofertaresultado.empresa_id == current_user.id %>
  
    <div class="item-edit-icono">
      <img src="<%= current_theme_image_path('editar.png') %>" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= ofertaresultado.id -%>').trigger('click');" >
    </div>

    <div class="item-delete-icono">
      <img src="<%= current_theme_image_path('borrar-white.png') %>" onClick="window.alert('click in borrar sin terminar');" >
    </div>

  <% else %>  
  
    <div class="add-favoritos">
      <img src="<%= current_theme_image_path('addfav.png') %>" onClick="window.alert('click in fav');" >
    </div>
  
  <% end %>
  
  <div class="cajon-titulo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= ofertaresultado.id -%>').trigger('click');">
    <%= ofertaresultado.info -%>
  </div>
  <div class="cajon-cuerpo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= ofertaresultado.id -%>').trigger('click');">
    <%= truncate_html(ofertaresultado.nombre_empresa, :length => 120).html_safe -%>
  </div>
  <div class="cajon-pie" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= ofertaresultado.id -%>').trigger('click');">
    Válida hasta el <%= ofertaresultado.enlace %>
  </div>
</div>

<% @item += 1 %>

<% if @item % 15 == 0 || @item == @total%>
 


  <div class="cajon-paginado">

    <% if @pagina != (@total/15) + 1  %>

    <div class="cajon-paginado-boton ilumina5" onclick="$('#pag<%= @pagina -%>').hide(); $('#pag<%= @pagina+1 -%>').show();$.scrollTo('#busqueda', 'slow')">
      <div class="cajon-paginado-boton-texto">
        <% if params[:tipo] == 'O'%>
          Ofertas siguientes
        <% else %>
          Demandas siguientes
        <% end %>
      </div>
    </div>
    
    <% end %>

    <% if @pagina != 1 %>
    
    <div class="cajon-paginado-boton ilumina5"  onclick="$('#pag<%= @pagina -%>').hide(350); $('#pag<%= @pagina-1 -%>').show(350); $.scrollTo('#busqueda', 'slow');">
      <div class="cajon-paginado-boton-texto">
        <% if params[:tipo] == 'O'%>
          Ofertas anteriores
        <% else %>
          Demandas anteriores
        <% end %>
      </div>
    </div> 

    <% end %>
    
    <div class="cajon-paginado-pagina">
      <div class="cajon-paginado-pagina-texto">
        Página <%= @pagina -%> de <%= (@total / 15) + 1 -%>
      </div>
    </div>
  </div>

  </div>
  
  <% @pagina += 1 %>

  <% if @item != @total %>
    <div id="pag<%= @pagina -%>" style="display:none">
  <% end %>
<% end %>
