<div class="seccion-cajon" >
  <div class="cajon-titulo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= ofertafav['bazar_id'] -%>/<%= ofertafav['id']-%>').trigger('click');">
    <%= ofertafav['titulo'] -%>
  </div>
  <div class="cajon-cuerpo-corto" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta//<%= ofertafav['id'] -%>').trigger('click');">
    <%= truncate_html(ofertafav['texto'], :length => 80).html_safe -%>
  </div>
  <div class="cajon-pie-favoritos" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta//<%= ofertafav['id'] -%>').trigger('click');">
    <div class="icono-small-empresa">
      icono pequeño
    </div>
    <div class="">
      add favoritos 
    </div>
  </div>

</div>