<div class="seccion-cajon" >

 
  <% if oferta.bazar_id == BZ_param("BazarId").to_i && oferta.empresa_id == current_user.id %>
    <div class="item-edit-icono">
      <img src="<%= current_theme_image_path('editar.png') %>" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= oferta.id -%>').trigger('click');" >
    </div>

    <div class="item-delete-icono">
      <img src="<%= current_theme_image_path('borrar-white.png') %>" onClick="window.alert('click in fav');" >
    </div>

  <% else %>

  <!-- solo tiene que aparecer si está recomendada por el sistema -->

    <div class="add-favoritos">
      <img src="<%= current_theme_image_path('addfav.png') %>" onClick="window.alert('click in fav');" >
    </div>

  <% end %>

  <div class="cajon-titulo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= oferta.id -%>').trigger('click');">
    <%= oferta.titulo -%>
  </div>

  <% imgs = Bazarcms::Ofertasimagen.where("oferta_id = ?", oferta.id).limit(3) %>
  
  <div class="cajon-cuerpo" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= oferta.id -%>').trigger('click');">
    <% if imgs.count <= 0 %>
      <%= truncate_html(oferta.texto, :length => 120).html_safe -%>
    <% else %>
      <%= truncate_html(oferta.texto, :length => 60).html_safe -%><br/>
      <div class="caja-imagenes-oferta">        
        <% for img in imgs %>
           <%= image_tag img.imagen.url(:c60), :width => 50 %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="cajon-pie" onClick="$('#fichaoferta').attr('href', '/home/fichaoferta/<%= BZ_param("BazarId")-%>/<%= oferta.id -%>').trigger('click');">
    Válida hasta el <%= oferta.fecha_hasta.strftime("%d-%m-%y") %>
  </div>

</div>