
<div class="caja-empresa-titulo">
  <div class="caja-empresa-titulo-texto" >
    
    <%= t(:text_informacion_general_de_tu_oferta) %>
    
    <div class="caja-empresa-cerrar" onclick="parent.jQuery.fancybox.close();">

      <div class="caja-empresa-cerrar-icono">
        <img src="<%= current_theme_image_path("cerrar.png") %>" />          
      </div>
      <div class="caja-empresa-cerrar-texto">
        <%= t("text_cerrar") %>          
      </div>
    </div>

  </div>
</div>

<% form_for @oferta, :url => "/home/actofertadatosgenerales/#{@oferta.bazar_id}/#{@oferta.id}" do |f| %>

  <div class="caja-empresa-editar-titulo">
    <% if params[:tipo] == "O"%>
      <%= t(:text_que_ambito_quieres_darle_a_la_oferta) %>
    <% else %>
      <%= t(:text_que_ambito_quieres_darle_a_la_demanda) %>    
    <% end %>
  </div>
  
  <div>
    <br/>
    <select id="bazarcms_oferta_ambito" name="bazarcms_oferta[ambito]" class="caja-empresa-editar-input-corto">
      <% for rango in Bazarcms::Oferta.Ambitos.sort{|a,b| a[1]<=>b[1]} %>
    
        <% if @oferta.ambito.to_i == rango[1].to_i %>  
          <option value="<%= rango[1] %>" selected="selected"><%= rango[0] %></option>
        <% else %>
          <option value="<%= rango[1] %>"><%= rango[0] %></option>
        <% end %>
      <% end %>
    </select>
    <br/>
  </div>

  <%= f.submit t(:text_guardar_estos_datos), :class => "caja-empresa-editar-boton" %>

<% end %>
