<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('jquery-ui-1.8.18.custom')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('jquery.ui.autocomplete')) %>

<% #= javascript_include_tag :defaults %>

<%= javascript_include_tag(current_theme_javascript_path('jquery-1.7.1.min')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery-ui')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.cycle.all.min')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.scrollTo-1.4.2-min')) %>

<script>

function cancelar() {

  parent.jQuery.fancybox.close();

}

</script>

<div id="container" class="container-empresa-editar">

<div class="caja-empresa-editar">

  <div class="caja-empresa-titulo">
    <div class="caja-empresa-titulo-texto">
      <%= t(:text_a침adir_nueva_sede) %>
      
      <div class="caja-empresa-cerrar" onclick="cancelar();">

        <div class="caja-empresa-cerrar-icono">
          <img src="<%= current_theme_image_path("cerrar.png") %>" />          
        </div>
        <div class="caja-empresa-cerrar-texto">
          <%= t(:text_cerrar) %>          
        </div>
      </div>
      
    </div>

  </div>

  <%= form_for(@ubicacion, :url => "/home/grabasede", :html => { :onsubmit => "return validar();" }) do |f| %>

  <div id="oferta-titulo" class="caja-empresa-editar-titulo">
  </div>

    <div id="oferta-titulo" class="caja-empresa-editar-titulo">
      <%= t(:text_describe_la_sede_o_su_direccion) %>
    </div>
    
    <p><%= f.text_field :desc, :placeholder => t(:text_ej_fabrica_o_direccion), :class => "caja-empresa-editar-input", :onchange => "validar();" %></p>


    <%= f.hidden_field :empresa_id %>

    <div id="oferta-titulo" class="caja-empresa-editar-titulo">
      <%= t(:text_en_que_ciudad_esta_la_sede) %>
    </div>
 
    <%= f.hidden_field :ciudad_id %>


	<% 
	if !@ubicacion.ciudad.nil?
		ciudad = @ubicacion.ciudad.descripcion
	else 
		ciudad = ""
	end
	%>
    
    <%= text_field(:ciudad, :id, :placeholder => t(:text_selecciona_una_de_la_lista), :value => ciudad ,:class => "caja-empresa-editar-input") %>
  </td>

  <div id="oferta-titulo" class="caja-empresa-editar-titulo">
  </div>
  <div id="oferta-titulo" class="caja-empresa-editar-titulo">
  </div>

  <%= f.submit t(:text_guardar_estos_datos), :class => "caja-empresa-editar-boton" %>

  <div id="oferta-titulo" class="caja-empresa-editar-titulo">
  </div>
  
<% end %>

  </div>
</div>

</div>

<script type="text/javascript">

function validar() {
	
	valido = 1; 

	if ($("#bazarcms_ubicacion_desc" ).val() == "") {
		// window.alert ("Rellene el campo descripci칩n de la ubicaci칩n. Ejemplo: Oficinas centrales.");
		$.scrollTo('#bazarcms_ubicacion_desc', 'slow');
		$("#bazarcms_ubicacion_desc" ).focus();
		valido = 0;
	}

	if ($("#bazarcms_ubicacion_ciudad_id" ).val() == "") {
		// window.alert ("Debe seleccionar una ciudad de la lista que aparece mientras escribe el nombre de su ciudad.");
		$("#ciudad_id" ).val( $("#ciudad_id").val().substring(0,3) );
		$.scrollTo('#ciudad_id', 'slow');
		$("#ciudad_id" ).focus();
		valido = 0;
	}

//	window.alert ("Rellene el campo descripci칩n y escoja una ciudad de la lista."+valido+" "+$("#bazarcms_ubicacion_ciudad_id" ).val()+" "+$("#bazarcms_ubicacion_desc" ).val());

	if (valido == 0) {
		return false;		
	}
	else {
		return true;		
	}

};


$(document).ready(function() {
	
	$("#ciudad_id").autocomplete({
	    source: "/busquedaciudades.json",
		  delay: 200,
	    minLength: 2,
		  select: function(event, ui) {
			  $("#ciudad_id").val( ui.item.label );
			  $("#bazarcms_ubicacion_ciudad_id" ).val( ui.item.id );
			  return false;
		  }

	});

});
</script>

