<!-- Muchos bazares un gran mercado -->

<h3 class="text-title"><%=t(:text_muchos_bazares_un_gran_mercado)%> ******* </h3>

<div class="text-body">
    <p><%=t(:text_que_pedirias_a_un_gran_mercado_electronico_para_empresas)%></p>

<ul>
        <li><%=t(:text_que_nadie_se_colocara_en_medio_de_las_empresas_pudiendo_exigir_un_pago_para_que_comercien_entre_si)%></li>
        <li><%=t(:text_que_fuera_robusto_que_un_problema_en_la_red_un_ataque_informatico_o_un_cataclismo_politico_en_un_determinado_lugar_no_pusieran_en_cuestion_el_mercado_en_su_conjunto)%></li>
        <li><%=t(:text_que_hubiera_un_sistema_que_sin_embargo_mantuviera_fuera_a_spammers_productos_fraudulentos_y_en_general_a_quien_mintiera_o_utilizara_informacion_enganosa_estropeando_la_confianza_en_el_propio_mercado)%></li>
        <li><%=t(:text_que_permitiera_a_las_empresas_de_un_grupo_o_un_lugar_trabajar_juntos_de_manera_preferente)%></li>
 </ul>

<img class="aligncenter" alt="<%=t(:label_grafico_de_topologia_de_redes)%>" title="<%=t(:label_grafico_de_topologia_de_redes)%>" src="/images/topologia-de-redes.jpg" />
    
<p><%=t(:text_hasta_ahora_las_llamadas_grandes_redes_sociales_se_han_construido_como_una)%> <a href="http://lasindias.net/indianopedia/topología de redes"><%=t(:text_red_centralizada)%></a><%=t(:text_una_gran_empresa_ofrecia_a_traves_de_la_web_el_servicio_a_todos_los_usuarios_el_lado_bueno_es_que_podia_controlar_con_relativa_facilidad_que_nadie_incumpliera_las_condiciones_de_servicio_y_no_sin_polemica_ni_problemas_mantener_fuera_a_quienes_trataran_de_utilizar_la_red_con_fines_ilicitos_o_indeseados_el_lado_malo_es_que_la_centralizacion_tambien_tiene_un_coste_para_los_usuarios_la_extension_de_los_servicios_centralizados_ha_convertido_en_comunes_las_noticias_de_saturaciones_que_llevan_a_la_caida_del_servicio_de_ataques_de_grupos_mas_o_menos_organizados_que_buscan_relevancia_publica_y_de_cortes_en_el_acceso_en_paises_enteros_en_momentos_de_inestabilidad_politica)%></p>

<p><%=t(:text_ademas_las_redes_centralizadas_no_solo_son_poco_robustas_ya_que_toda_la_red_depende_de_unico_agente_sino_que_a_poco_que_crezca_el_mercado_ese_agente_el)%> <em><%=t(:text_dueno_de_la_red)%></em> <%=t(:text_tiene_unos_gastos_gigantescos_de_infraestructura_lo_que_orienta_toda_su_actividad_a_monetarizar_y_capturar_para_si_el_valor_de_la_red)%></p>

    <p><%=t(:text_por_eso_un)%> <strong><%=t(:text_gran_mercado_electronico_no_debe_tener_propietario)%></strong><%=t(:text_para_empezar_debe_basarse_en)%> <a href="http://lasindias.net/indianopedia/software libre"><%=t(:text_software_libre)%></a><%=t(:text_pero_sobre_todo_debe_tener_su_infraestructura_repartida_entre_muchos_agentes_en_muchos_lugares_y_con_muchas_conexiones_y_ordenadores_distintos)%><strong> <%=t(:text_debe_tener_la_forma_de_una)%> <a   href="http://lasindias.net/indianopedia/topología de redes"><%=t(:text_red_distribuida)%></a></strong>.</p>
    
<p><%=t(:text_pero_una_red_distribuida_de_que_podiamos_haber_pensado_el_gran_mercado_global_como_una_red_distribuida_de_empresas_cada_cual_mantendria_su_propia_infraestructura_y_al_conectarse_a_las_demas_se_generaria_la_red_pero_los_mercados_globales_reales_nunca_han_sido_asi_mas_que_en_las_abstracciones_de_los_economistas_los_mercados_globales_desde_el)%> <a href="http://garumfundatio.org/el-mito-del-garum?utm_source=lasindias.info/blog"><%=t(:text_garum)%></a> <%=t(:text_de_la_antiguedad_a_las_redes_tecnologicas_de_hoy_no_han_aparecido_impulsados_por_individuos_aislados_que_se_conectaban_en_un_unico_espacio_sino_por_la_interconexion_de_mercados_locales_mas_pequenos_en_los_que_los_individuos_se_conocian_previamente_muy_bien_entre_si)%><strong> <%=t(:text_el_basamento_invisible_de_los_mercados_es_la_confianza)%></strong>.</p>

    <p><%=t(:text_por_eso_si_cada_instalacion_de_bazar_es_una_red_distribuida_de_empresas_basada_en_la_confianza_su_resultado_global_es_una)%> <strong><%=t(:text_gran_red_distribuida_de_bazares)%></strong><%=t(:text_de_instalaciones_con_infraestructura_propia_que_permiten_a_cada_empresa_poder_llegar_a_cualquier_otra_al_tiempo_que_aseguran_que_nadie_puede_apropiarse_del_mercado_y_que_la_estructura_global_es_realmente_robusta)%></p>

    <p><%=t(:text_bazar_el_software_sirve_para_construir_bazares_que_se_unen_desde_el_primer_dia_en_un_unico_gran_mercado_global)%></p>
    
    <h4><%=t(:text_por_que_abrir_un_bazar)%></h4>

    <p><%=t(:text_pero_si_cada_instalacion_de_bazar_el_software_es_un_bazar_y_la_red_de_bazares_forma_un_gran_mercado_unico_que_sentido_tiene_abrir_un_nuevo_bazar_por_que_no_unirse_a_alguno_existente_si_el_resultado_acceder_al_gran_mercado_va_a_ser_el_mismo)%></p>

    <p><%=t(:text_los_bazares_son_mercados_locales_locales_no_necesariamente_en_un_sentido_territorial_sino_de_red_una_red_de_artesanos_o_un_grupo_empresarial_obtienen_una_ventaja_especial_de_formar_un_bazar_propio_en_vez_de_integrarse_en_otro_existente_tener_datos_y_compartir_estadisticas_de_su_propio_metabolismo_comun_las_empresas_de_cada_bazar_tienen_acceso_como_grupo_a_los_agregados_estadisticos_que_describen_su_uso_ademas_de_a_los_resumenes_de_actividad_de_sus_componentes_individuales_dicho_de_otro_modo)%> <strong><%=t(:text_tienen_informacion_especifica_de_la_que_aprender_para_mejorar_sus_estrategias)%></strong>.</p>
    
<p><%=t(:text_pero_sobre_todos_pueden_hacer)%> <strong><%=t(:text_ofertas_diferenciadas_y_demandas_restringidas)%> </strong><%=t(:text_a_los_miembros_de_su_mismo_bazar)%></p>

    <p><%=t(:text_asi_soy_miembro_de_un_grupo_empresarial_y_estoy_en_su_bazar_puedo_hacer_ofertas_especificas_solo_para_los_miembros_de_mi_mismo_grupo_o_restringir_una_demanda_a_esas_mismas_empresas_o_si_mi_bazar_es_territorial_esta_formado_por_las_empresas_de_mi_ciudad_por_ejemplo_puedo_hacer_ofertas_que_tengan_en_cuenta_tanto_la)%> <strong><%=t(:text_confianza)%></strong> <%=t(:text_como_la)%> <strong><%=t(:text_cercania)%></strong> <%=t(:text_de_aquellos_a_los_que_me_dirijo)%></p>

    <p><%=t(:text_por_eso)%> <strong><%=t(:text_instalar_bazar_y_unirse_a_la_red_de_bazares_ser_la_opcion_recomendada_a_grupos_empresariales_asociaciones_sectoriales_de_empresas_y_entidades_dedicadas_a_la_promocion_economica_local)%></strong> <%=t(:text_mientras_para_una_empresa_individual_la_opcion_mas_interesante_sera_unirse_a_un_bazar_sostenido_por_alguna_institucion_empresarial_o_publica_donde_esten_las_empresas_que_le_conocen_y_con_las_que_puede_aprender_y_comerciar_preferentemente)%></p>

    <p><%=t(:text_este_sistema_tiene_dos_virtudes_especialmente_interesantes)%></p>

    <ul>
    <li><strong><%=t(:text_las_empresas_reproducen_en_la_red_global_las_redes_de_confianza)%></strong><%=t(:text_que_existen_en_el_mundo_presencial_y_que_son_fundamentales_para_que_las_pequenas_y_medianas_empresas_puedan_proyectarse_fuera_de_sus_mercados_inmediatos_tal_vez_no_conozcamos_a_una_empresa_determinada_pero_si_forma_parte_de_un_bazar_organizado_por_una_institucion_en_la_que_confiamos_y_que_cuenta_con_empresas_que_admiramos_seguramente_le_otorguemos_una_confianza_de_partida_mayor_que_si_no_fuera_asi)%></li>
    <li><strong><%=t(:text_los_administradores_de_cada_bazar_conocen_a_sus_miembros)%></strong><%=t(:text_no_van_a_dar_paso_a_empresas_fraudulentas_o_permitir_comportamientos_abusivos_porque_irian_contra_su_propia_imagen_y_contra_los_intereses_y_proyeccion_de_cada_una_de_las_empresas_de_su_red_a_las_que_quieren_potenciar)%></li>
    </ul>

    <p><%=t(:text_ademas_al_formarse_una_gran_red_distribuida_de_bazares_como_cada_bazar_esta_mantenido_por_un_grupo_de_empresas_o_una_institucion_diferente_el_coste_y_la_situacion_de_la_infraestructura_los_servidores_se_reparte_entre_muchos_lugares_y_agentes_distintos_haciendo_a_la)%> <strong><%=t(:text_red_global_autosostenible_y_tremendamente_robusta)%></strong>.</p>

    <h4><%=t(:text_cuando_montar_un_bazar)%></h4>

    <p><%=t(:text_cuando_creamos_que_a_las_empresas_de_nuestro_sector_nuestro_grupo_o_nuestra_ciudad_les_proporcionara_una_ventaja_tener_un_espacio_especifico_para_ellas_en_el_gran_mercado_global_porque_tengan_una_denominacion_de_origen_comun_o_un_marchamo_de_calidad_o_simplemente_cuando_comerciar_y_compartir_conocimiento_entre_ellas_organizando_cursos_seminarios_o_realizando_convocatorias_tenga_sentido_en_si_mismo_es_decir_cuando_el_bazar_vaya_a_compartir_la_identidad_que_define_a_una_comunidad_en_la_red_social)%></p>
    <p><%=t(:text_si_estas_interesado_en_montar_un_bazar_escribe_a_la)%> <strong><a href="http://garumfundatio.org/"><%=t(:text_garum_fundatio)%></a> </strong> a <strong><%=t(:text_info_garumfundatio_org)%></strong></p>

</div>
