<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('jquery-ui-1.8.18.custom')) %>

<%= javascript_include_tag :defaults %>

<%= javascript_include_tag(current_theme_javascript_path('jquery.fancybox.pack')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery-ui')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.cycle.all.min')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.scrollTo-1.4.2-min')) %>


<div class="ficha-container">
  
<div class="caja-empresa-titulo">
  <div class="caja-empresa-titulo-texto" >
    <img src="<%= current_theme_image_path("sobre-azul.png") %>" /> 
    <%= t(:text_busqueda) %> 
    <div class="caja-empresa-cerrar" onclick="parent.jQuery.fancybox.close();">

      <div class="caja-empresa-cerrar-icono">
        <img src="<%= current_theme_image_path("cerrar.png") %>" />          
      </div>
      <div class="caja-empresa-cerrar-texto">
        <%= t("text_cerrar") %>          
      </div>
    </div>

  </div>
  
  <div class="caja-busqueda-input">
    <form accept-charset="UTF-8" action="/busqueda-empresa" method="post">
     <input class="busqueda-input" id="busqueda" name="q" placeholder="¿Qué empresa buscas?" size="50" >
     <input type="submit" class="busqueda-boton" value="" />
     <input type="hidden" id="empleados2"name="empleados" />
     <input type="hidden" id="ventas2" name="ventas" />
   </form>
  </div>


  <div class="caja-busqueda-input2">
    <div id="porempleados" class="caja-busqueda-filtro-container" >

      <div class="caja-busqueda-texto-filtro">
        <%=t(:text_numero_empleados)%>
      </div>

      <div class="caja-busqueda-slider" id="slider-range" ></div>

      <div class="caja-busqueda-texto-resultado" id="empleados">
        <%= t(:text_todos) %>
      </div>

    </div>

    <div id="porfacturacion" class="caja-busqueda-filtro-container">

      <div class="caja-busqueda-texto-filtro">
        <%=t(:text_ventas)%>
      </div>

      <div class="caja-busqueda-slider" id="slider-range2" ></div>

      <div class="caja-busqueda-texto-resultado" id="ventas">
        <%= t(:text_todos) %>
      </div>


    </div>

  </div>
</div>

