<%= javascript_include_tag(current_theme_javascript_path('jquery.scrollTo-1.4.2-min')) %>

<%= render(:partial => "busquedaofertas") %>

<div class="caja-seccion" id="ofertas-recomendadas">
  <div class="resultado-indice">
    <div class="resultado-indice-texto">
      <%= @ofertasresultados.count -%> Ofertas      
    </div>
    
    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('calendar.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        ver las más recientes primero
      </div>
    </div>

    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('world.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        ver las más cercanas geográficamente primero
      </div>
    </div>

    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('mibazar.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        ver solo empresas de mi bazar
      </div>
    </div>
    
  </div>
  
  <script>

  function muestraconfirmacion (bazar, oferta) {
    $('#ofe-conf-'+bazar+'-'+oferta).show(); 
    $('#ofe-del-'+bazar+'-'+oferta).hide();
    return false;
  };

  function borraoferta (bazar, oferta) {
    $.ajax({
            type: "POST",
            url: "/home/cancelaroferta/"+oferta
    });
    return false;
  };

  </script>
  
  <div class="seccion-contenido">
    
    <% @item = 0 %>
    <% @total = @ofertasresultados.count %>
    <% @pagina = 1 %>
    
    <%= render(:partial => "ofertaresultado", :collection => @ofertasresultados) %>

  </div>

</div>

<a id="fichaoferta" class="fancybox.ajax" href=""></a>

<script>

$(document).ready(function() {

  $('.trans20').transify({opacityOrig:.20});
  $('.trans70').transify({opacityOrig:.70});
  $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  $('.ilumina10').transify({opacityOrig:.10,opacityNew:.40,fadeSpeed:500});
  
  $("#fichaoferta").fancybox({
		 'width' : 831,
		 // 'height' : 'auto',
     'margin' : 0,
		 'autoScale' : false,
		 'transitionIn' : 'none',
		 'transitionOut' : 'none',
		 'type' : 'iframe'
	 });
	
  $('input[placeholder]').placeholder();

 });

 
</script>