<%= javascript_include_tag(current_theme_javascript_path('jquery.scrollTo-1.4.2-min')) %>

<%= render(:partial => "busquedaempresas") %>

<div class="caja-seccion" id="ofertas-recomendadas">
  <div class="resultado-indice">
    <div class="resultado-indice-texto">
      <% cuantas = @empresasresultados.count %>
      <%= cuantas %> <%= t(:text_empresas) %>
    </div>
    
    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('calendar.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        <%= t(:text_ver_las_mas_recientes_primero) 5>
      </div>
    </div>

    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('world.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        <%= t(:text_ver_las_mas_cercanas_geográficamente_primero) %>
      </div>
    </div>

    <div class="resultado-filtro ilumina10">
      <div class="resultado-filtro-icono">
        <img src="<%= current_theme_image_path('mibazar.png') %>">
      </div>
      <div class="resultado-filtro-texto">
        <%= t(:text_ver_solo_empresas_de_mi_bazar) %>
      </div>
    </div>
    
  </div>
  
  <div class="seccion-contenido">
    
    <% @item = 0 %>
    <% @total = @empresasresultados.count %>
    <% @pagina = 1 %>
    
    <% if @empresasresultados.count > 0 %>
      <%= render(:partial => "empresaresultado", :collection => @empresasresultados) %>
    <% else %>
      <div class="seccion-cajon" >
       <div class="cajon-cuerpo">
         <%= t(:text_no_se_ha_encontrado_ninguna) %> <%= t(:text_prueba_con_otra_busqueda) %>
       </div>
      </div>
    <% end %>
  </div>

</div>

<a id="fichaempresa" class="fancybox.ajax" href=""></a>

<script>

$(document).ready(function() {

  $('.trans20').transify({opacityOrig:.20});
  $('.trans70').transify({opacityOrig:.70});
  $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  $('.ilumina10').transify({opacityOrig:.10,opacityNew:.40,fadeSpeed:500});
  
  $("#fichaempresa").fancybox({
		 'width' : 831,
		 // 'height' : 'auto',
     'margin' : 0,
		 'autoScale' : false,
		 'transitionIn' : 'none',
		 'transitionOut' : 'none',
		 'type' : 'iframe'
	 });
	
  $('input[placeholder]').placeholder();

 });

</script>