<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('jquery-ui-1.8.18.custom')) %>

<%= javascript_include_tag :defaults %>

<%= javascript_include_tag(current_theme_javascript_path('jquery.min')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.fancybox.pack')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery-ui')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.cycle.all.min')) %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.ui.datepicker-es')) %>

<div class="container-empresa-editar">
  
<div class="caja-empresa-editar">

  <div class="caja-empresa-titulo">
    <% if params[:tipo] == "O"%>
      <p><%= t(:text_publicar_una_nueva_oferta) %> </p>
    <% else %>
      <p><%= t(:text_publicar_una_nueva_demanda) %> </p>
    <% end %>
  </div>

  <% form_for @oferta, :url => "/home/actofertadatosgenerales/" do |f| %>

    <div class="caja-empresa-editar-titulo">
      <%= t(:text_que_titulo_quieres_ponerle) %>
    </div>

    <p><%= f.text_field :titulo, :placeholder => t(:text_ej_sillas_de_plastico_personalizadas), :class => "caja-empresa-editar-input" %></p>


    <div class="caja-empresa-editar-titulo">
      <% if params[:tipo] == "O"%>
        <%= t(:text_hasta_cuando_es_valida_la_oferta) %>
      <% else %>
        <%= t(:text_hasta_cuando_es_valida_la_demanda) %>
      <% end %>
    </div>

  	<script> 

  		/* TODO estoy hay que localizarlo dependiendo de la lengua elegida */

  	$(function() {
  		$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
  		$( "#bazarcms_oferta_fecha_hasta" ).datepicker( $.datepicker.regional[ "es" ] );
  	});

  	</script> 

    <p><%= f.text_field :fecha_hasta, :value => "#{DateTime.now.strftime('%d/%m/%y')}", :placeholder => t(:text_oferta_valida_hasta), :class => "caja-empresa-editar-input" %></p>

    <div class="caja-empresa-editar-titulo">
      <%= t(:text_describela_un_poco) %>
    </div>

    <p><%= f.text_area :texto, :placeholder => t(:text_no_te_extiendas_demasiado), :class => "caja-empresa-editar-texto" %></p>


    <div class="caja-empresa-editar-titulo">
      <%= t(:text_hay_alguna_pagina_web_con_mas_informacion) %>
    </div>

    <p><%= f.text_field :url, :placeholder => "http://www.com/offer", :class => "caja-empresa-editar-input" %></p>


</div>

<div class="caja-empresa-container-gris">
  <div class="caja-empresa-editar-gris" >
  
    <div class="caja-empresa-editar-titulo-corto">
      <%= t(:text_a_que_tipo_de_empresa_va_dirigida) %>
    </div>

    <p>
      <textarea id="tags" class="caja-empresa-editar-texto-corto" cols="40"  placeholder="<%= t(:text_usa_palabras_clave_para_describirla) %>" rows="20" onchange="estima();" onkeyup="monta();"></textarea>
      
  
    <div class="caja-empresa-editar-titulo-corto">
      <% if params[:tipo] == "O"%>
        <%= t(:text_que_ambito_quieres_darle_a_la_oferta) %>
      <% else %>
        <%= t(:text_que_ambito_quieres_darle_a_la_demanda) %>    
      <% end %>
    </div>
    <div>
      <br/>
      <select id="bazarcms_oferta_ambito" name="bazarcms_oferta[ambito]" class="caja-empresa-editar-input-corto" onchange="monta();">
        <% for rango in Bazarcms::Oferta.Ambitos.sort{|a,b| a[1]<=>b[1]} %>
      
          <% if @oferta.ambito.to_i == rango[1].to_i %>  
            <option value="<%= rango[1] %>" selected="selected"><%= rango[0] %></option>
          <% else %>
            <option value="<%= rango[1] %>"><%= rango[0] %></option>
          <% end %>
        <% end %>
      </select>
      <br/>
    </div>
  
  </div>
  
  <div id="caja-empresas-resultado-busqueda" class="caja-empresa-resultados-gris">
  
    <div id="resultado" class="caja-empresas-resultado-busqueda-cifra2">Todas</div> 
    
    <div class="caja-empresas-resultado-busqueda-texto">
    <%= t(:text_empresas_con_estos_criterios) %>
    </div>

  </div>
  
</div>

  <div class="caja-empresa-editar" >
  
    <div class="caja-empresa-editar-titulo">
      <%= t(:text_quieres_anadir_alguna_fotografia) %>
    </div>
  
  </div>


<br/><br/><br/><br/><br/>

<div class="caja-empresa-editar">

<% if params[:tipo] == "O"%>
  <%= f.submit t(:text_publicar_esta_oferta), :class => "caja-empresa-editar-boton" %>
<% else %>
  <%= f.submit t(:text_publicar_esta_demanda), :class => "caja-empresa-editar-boton" %>
<% end %>

</div>


  <% end %>
  
<br/>



</div>
<script>
 /* 
   $('.edit_bazarcms_empresa').submit(function(){
      var params = $(this).serialize();
      var self = this;

      $.post(
        '/home/actofertadatosgenerales/<%= @oferta.bazar_id -%>/<%= @oferta.id -%>',
          params,
          function(data){
            parent.location.reload();
            // window.alert(data);
            console.log(data);
          },
          'html'
        );
      return false;
  });
*/
var url    = "pals=&ambito=0";
var oldurl = "";
var processing = 0;

function monta() {
  tags = encodeURI($("#tags").val());
  ambito=$("#bazarcms_oferta_ambito").val();
  url = "pals="+tags+"&ambito="+ambito;
  console.log(url+" ---> "+processing);
}

function estima() {
  if (processing == 1) {
    setTimeout("estima()",1000);
    console.log("está en otra petición");   
    return
    }
    
  if (oldurl == url) {
    setTimeout("estima()",1000);    
    return;
  }
   
  processing = 1; 
  
  oldurl = url; 
  
  $("#resultado").html("<img src='<%= current_theme_image_path('spinner.gif') %>' />");
  
  $("#resultado").load("/home/empresasestimadas?"+url, function(response, status, xhr) {
    if (status == "error") {
      var msg = "Error: ";
      $("#error").html(msg + xhr.status + " " + xhr.statusText);
    }
    else {
      if (parseInt(response) > 999) {
        $("#resultado").attr("class", "caja-empresas-resultado-busqueda-cifra2");
      }
      else {
        $("#resultado").attr("class", "caja-empresas-resultado-busqueda-cifra");        
      }
      
      $("#resultado").html(response);      
    }
  });  
  
  processing = 0; 
  
  setTimeout("estima()",1000);
  console.log("ya está -> "+url);
  
};

var revisa = setTimeout("estima()",1000);
monta();

</script>
