<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.fancybox.pack')) %>  
  
<div class="caja-empresa-editar">

  <div class="caja-empresa-titulo">
    <p><%= t(:text_informacion_general_sobre_tu_empresa) %> </p>
  </div>

  <% form_for @empresa, :url => "/home/actempresadatosgenerales/#{BZ_param("BazarId")}/#{@empresa.id}" do |f| %>

    <div class="caja-empresa-editar-titulo">
      <%= t(:text_fundada) %>
    </div>

    <p><%= f.text_field :fundada, :placeholder => t(:text_fundada), :class => "caja-empresa-editar-input" %></p>

    <div class="caja-empresa-editar-titulo">
      <%= t(:text_ambito) %>
    </div>

    <p><%= f.text_field :ambito, :placeholder => t(:text_ambito), :class => "caja-empresa-editar-input" %></p>

    <div class="caja-empresa-editar-titulo">
      <%= t(:text_numero_de_empleados) %>
    </div>

    <p><%= f.text_area :desc, :placeholder => t(:text_numero_de_empleados), :class => "caja-empresa-editar-texto" %></p>

    <%= f.submit t(:text_guardar_estos_datos), :class => "caja-empresa-editar-boton" %>

  <% end %>

</div>

<br/>
<br/>
<br/>

<script>
  
   $('.edit_bazarcms_empresa').submit(function(){
      var params = $(this).serialize();
      var self = this;

      $.post(
        '/home/actempresadatosgenerales/<%= BZ_param("BazarId") -%>/<%= @empresa.id -%>',
          params,
          function(data){
            parent.location.reload();
            // window.alert(data);
            console.log(data);
          },
          'html'
        );
      return false;
  });
  
  $('input[placeholder]').placeholder();
    
</script>
