<%= javascript_include_tag(current_theme_javascript_path('jquery.scrollTo-1.4.2-min')) %>

<!-- Sección menús -->
<div class="caja-seccion">
  <div class="caja-indice">
  &nbsp;
  </div>
  
  <div class="seccion-contenido">
    
    <div class="seccion-header">
      <%= t(:text_tus_favoritos_cuerpo) %>
    </div>

    <div class="seccion-subheader">
      <%= t(:text_descripcion_favoritos) %>
    </div>

    <div class="seccion-menu">
      
      <div class="seccion-menu-item" onclick="$.scrollTo('#ofertas', 'slow')">
        <a href="#"><%= t(:text_ofertas_layout) %></a>
      </div>
      
      <div class="seccion-menu-item" onclick="$.scrollTo('#demandas', 'slow')">
        <a href="#"><%= t(:text_demandas_layout) %></a>
      </div>
      
      <div class="seccion-menu-item" onclick="$.scrollTo('#empresas', 'slow')">
        <a href="#"><%= t(:text_empresas_layout) %></a>
      </div>
      
    </div>

  </div>

</div>

<!-- sección ofertas favoritas -->

<div class="caja-seccion" id="ofertas">
  <div class="caja-indice">
  <%= t(:text_ofertas_layout) %>
  </div>
  
  <div class="seccion-contenido">

    <% if @ofertasfav.count > 0 %>
      <%= render(:partial => "ofertafav", :collection => @ofertasfav) %>
    <% else %>
      <div class="seccion-cajon"  onclick="window.location = '/home/ofertas/O';">
        <div class="cajon-titulo">
          <%= t(:text_no_tienes_ofertas_favoritas) %>
        </div>
        <div class="cajon-cuerpo">
          <%= t(:text_ofertas_recomendadas_favoritos) %>
        </div>
      </div>
    <% end %>

  </div>

</div>

<!-- sección demandas favoritas -->

<div class="caja-seccion" id="demandas">
  <div class="caja-indice">
  <%= t(:text_demandas_layout) %>
  </div>
  
  <div class="seccion-contenido">
    <% if @demandasfav.count > 0 %>
      <%= render(:partial => "ofertafav", :collection => @demandasfav) %>
    <% else %>
      <div class="seccion-cajon"  onclick="window.location = '/home/ofertas/D';">
        <div class="cajon-titulo">
          <%= t(:text_no_tienes_demandas_favoritas) %>
        </div>
        <div class="cajon-cuerpo">
          <%= t(:text_demandas_recomendadas_favoritos) %>
        </div>
      </div>
    <% end %>
  </div>

</div>


<!-- sección Empresas favoritas -->

<div class="caja-seccion" id="empresas">
  <div class="caja-indice">
  <%= t(:text_empresas_layout) %>
  </div>
  
  <div class="seccion-contenido">
    <% if @empresasfav.count > 0 %>
    <%= render(:partial => "empresafav", :collection => @empresasfav) %>
    <% else %>
      <div class="seccion-cajon" onclick="window.location = '/home/empresas';">
        <div class="cajon-titulo">
          <%= t(:text_no_tienes_empresas_favoritas) %>
        </div>
        <div class="cajon-cuerpo">
          <%= t(:text_empresas_recomendadas_favoritos) %>
        </div>
      </div>
    <% end %>
  </div>

</div>


<a id="fichaoferta" class="fancybox.ajax" href=""></a>


<script>

$(document).ready(function() {

  $('.trans20').transify({opacityOrig:.20});
  $('.trans25').transify({opacityOrig:.25});
  $('.trans70').transify({opacityOrig:.70});
  $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  
 });

 $("#fichaoferta").fancybox({
		 'width' : 850,
		 // 'height' : 'auto',
    'margin' : 0,
		 'autoScale' : false,
		 'transitionIn' : 'none',
		 'transitionOut' : 'none',
		 'modal': true,
		 'type' : 'iframe'
	 });

</script>
