<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>

<div class="ficha-container">
    
<div class="ficha-caja-header">
  <div class="ficha-caja-header-empresa">
    logo sector :: 
    <% if !@empresa.nil? %>
      <%= @empresa.nombre %>
    <% else %>
      Ficha de empresa imcompleta
    <% end %>
  </div>
</div>

<div class="ficha-tipo">
  <% if @oferta.tipo == 'O'%>
    OFERTA
  <% else %>
    DEMANDA
  <% end %>
</div>

<div class="ficha-titulo">
  <%= @oferta.titulo %> 
</div>

<div class="ficha-valida">
  Oferta válida hasta el <%= @oferta.fecha_hasta.strftime("%d-%m-%y") %>
</div>

<div class="ficha-opciones">

  <div class="ficha-opciones-item">
      
      <div class="ficha-opciones-item-icono">
        <img src="<%= current_theme_image_path('favorito.png') %>"  onClick="window.alert('click in fav');" >        
      </div>
      
      <div class="ficha-opciones-item-texto">
        guardar en favoritos
      </div>      
  </div>

  <div class="ficha-opciones-item">

    <div class="ficha-opciones-item-icono">
      <img src="<%= current_theme_image_path('sobre.png') %>" onClick="window.alert('click in correo');" >
    </div>
    
    <div class="ficha-opciones-item-texto">
      contactar empresa
    </div>      
    
  </div>

</div>

<div class="ficha-descripcion">
  <%= @oferta.texto -%>
</div>

<div class="ficha fotos">
fotos fancybox 
</div>

<div>
enlace :: empresas a destinatarias :: fecha publicacion y ambito 
</div>

<div>
Más detalles 
</div>

</div>
Visitas de esta oferta
</div>

<div>
Guardada en favoritos 
</div>


</div>