<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>

<div class="ficha-container">
    
<div class="ficha-caja-header">
  <div class="ficha-caja-header-empresa">
    logo sector :: 
    <% if !@empresa.nil? %>
      <%= @empresa.nombre %>
    <% else %>
      Ficha de empresa incompleta
    <% end %>
  </div>
</div>

<div class="ficha-tipo">
  EMPRESA
</div>

<div class="ficha-titulo">
  <%= @empresa.titulo %> 
</div>

<div class="ficha-valida">
  Revisar
</div>

<div class="ficha-opciones">

  <div class="ficha-opciones-item">
      
      <div class="ficha-opciones-item-icono">
        <img src="<%= current_theme_image_path('favorito.png') %>"  onClick="window.alert('click in fav');" >        
      </div>
      
      <div class="ficha-opciones-item-texto">
        guardar en favoritos
      </div>      
  </div>

  <div class="ficha-opciones-item">

    <div class="ficha-opciones-item-icono">
      <img src="<%= current_theme_image_path('sobre.png') %>" onClick="window.alert('click in correo');" >
    </div>
    
    <div class="ficha-opciones-item-texto">
      contactar empresa
    </div>      
    
  </div>

</div>

<div class="ficha-descripcion">
  <%= @empresa.texto.html_safe -%>
</div>

<div class="ficha fotos">
fotos fancybox 
</div>

<div class="ficha-caja-detalle">

  <div class="ficha-caja-enlace">

    <div class="ficha-caja-enlace-imagen">
      <img src="<%= current_theme_image_path('flecha.png') %>" onClick="window.alert('click in correo');" >
    </div>
    
    <div class="ficha-caja-enlace-texto">
        web con más información sobre la empresa
    </div>
      
  </div>

  <div class="ficha-caja-gris trans25">
    <div class="ficha-caja-gris-titulo">
      Empresas destinatarias       
    </div>
    <div class="ficha-caja-gris-texto">
      Sillas, hoteles, poli, pvc, ...
    </div>
  </div>

  <div class="ficha-caja-gris trans25">
    <div class="ficha-caja-gris-titulo">
      Fecha de publicación:       
    </div>

    <div class="ficha-caja-gris-texto">
      <%= @oferta.fecha.strftime("%d-%m-%y") %>
    </div>

    <div class="ficha-caja-gris-titulo">
      Ámbito:       
    </div>
    
    <div class="ficha-caja-gris-texto">
      Internacional
    </div>
    
  </div>

</div>

<div class="ficha-masdetalles-titulo ">
Más detalles ...
</div>

<div class="ficha-masdetalles-texto">
  <%= @oferta.clicks -%> visitas de esta empresa
</div>

<div class="ficha-masdetalles-texto2">
 XX veces guardada en favoritos 
</div>

</div>