<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag(current_theme_javascript_path('si.files')) %>

<div class="ficha-container">

<div class="caja-empresa-titulo">
  <div class="caja-empresa-titulo-texto" >
    
    <% if !@empresa.sector.nil? %>
      <img src="<%= current_theme_image_path("sector#{@empresa.sector}black.png") %>" height="30px" />
    <% else %>
      <img src="<%= current_theme_image_path("sector01black.png") %>" width="40px" />
    <% end %>
     
    <% if !@empresa.nil? %>
      <%= @empresa.nombre %>
    <% else %>
      <%= t(:ficha_de_empresa_incompleta) %>
    <% end %>
    
    <div class="caja-empresa-cerrar" onclick="parent.jQuery.fancybox.close();">

      <div class="caja-empresa-cerrar-icono">
        <img src="<%= current_theme_image_path("cerrar.png") %>" />          
      </div>
      <div class="caja-empresa-cerrar-texto">
        <%= t("text_cerrar") %>          
      </div>
    </div>

  </div>
</div>


<% 

if params[:bazar].to_i == @oferta.bazar_id && @oferta.empresa_id == current_user.id 
  @owner = true
else 
  @owner = false 
end

%>

<div class="ficha-tipo">
  <% if @oferta.tipo == 'O'%>
    <%= t(:text_OFERTA) %> 
  <% else %>
    <%= t(:text_DEMANDA) %>
  <% end %>
</div>


<% if ! @owner %>

  <div class="ficha-titulo">
    <%= @oferta.titulo %>
  </div>

<% else %>

  <div class="ficha-titulo">
    <%= @oferta.titulo %> 
    <div class="ficha-editar-icono"> 
      <img src="<%= current_theme_image_path('editargris.png') %>"  onClick="document.location.href='/home/ofertadatosgenerales/<%= @oferta.bazar_id -%>/<%= @oferta.id -%>?edit=gen';" > 
    </div>
  </div>

<% end %>


<div class="ficha-valida">
  <%= t(:text_oferta_valida_hasta_el) %> <%= @oferta.fecha_hasta.strftime("%d-%m-%Y") %>
</div>

<% if !@owner %>

<div class="ficha-opciones">

  <div class="ficha-opciones-item">
      
      <div id="favofe-<%= params[:bazar]-%>-<%= params[:id] -%>" class="ficha-opciones-item-icono">

         <% if !@fav.nil? %>

          <img src="<%= current_theme_image_path('corazon-white.png') %>">
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
              $("#favofe-<%= params[:bazar]-%>-<%= params[:id] -%>").click(function() {
                $("#favofe-<%= params[:bazar]-%>-<%= params[:id] -%>").load("/home/delofefav/<%= params[:bazar]-%>/<%= params[:id]-%>/-/");
              }); 
            });       
          </script>

        <% else %>

          <img src="<%= current_theme_image_path('corazon-black.png') %>">
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {            
              $("#favofe-<%= params[:bazar]-%>-<%= params[:id] -%>").click(function() {
                $("#favofe-<%= params[:bazar]-%>-<%= params[:id] -%>").load("/home/addofefav/<%= params[:bazar]-%>/<%= params[:id]-%>/-/");
              });
            });
          </script>

        <% end %>

      </div>
                    
      <div class="ficha-opciones-item-texto">
        <% if !@fav.nil? %>
          borrar de favoritos        
        <% else %>
          guardar en favoritos
        <% end %>
      </div>      
  </div>

  <div class="ficha-opciones-item">

    <div class="ficha-opciones-item-icono">
      <img src="<%= current_theme_image_path('sobre.png') %>" onClick="window.alert('click in correo');" >
    </div>
    
    <div class="ficha-opciones-item-texto">
      <%= t(:text_contactar_empresa) %>
    </div>      
    
  </div>

</div>

<% end %>

<div class="ficha-descripcion">
  <%= helper_formatea(@oferta.texto) -%>
</div>

<!-- Imágenes -->

   
<div class="caja-seccion-oferta">

  <div id="imagenes" class="seccion-contenido" >
    
    <% if @owner %>
    
      <div class="seccion-cajon-imagen" >

        <%= form_for :ofertasimagen, :url => "/home/crearimagenoferta/#{@oferta.id}/#{current_user.id}", :html => { :multipart => true } do |form| %>
       <div class="add-image">
         <label class="cabinet">
             <input type="file" class="file" id="ofertasimagen_imagen" name="ofertasimagen[imagen]" 
                 onchange="$(this).closest('form').submit(); 
                 $('#cargaimagen').html('Subiendo la imagen ... <img src=\'<%= current_theme_image_path('loading.gif') -%>\'>');" />
                 
         </label>
       </div>
       <% end %>

       
        <div id="cargaimagen" class="add-item-texto">
          <%= t(:text_anadir_una_foto) -%>
        </div>
      </div>

    <% end %>
    
    <% if @imagenes.count > 0 %>
      <%= render(:partial => "ofertaimagen", :collection => @imagenes) %>
    <% else %>
      <% if @owner %>
        <div class="seccion-cajon" onClick="">

          <div class="add-item-texto">
            <%= t(:text_no_tiene_imagenes) -%>
          </div>
        
        </div>
      <% end %>
    <% end %>
    
  </div>

</div>


<div class="caja-seccion-oferta">

  <div class="ficha-caja-detalle">

    <div class="ficha-caja-enlace">

      <% if !@owner %>
    
      <div class="ficha-caja-enlace-imagen">
        <img src="<%= current_theme_image_path('flecha.png') %>" onClick="window.alert('click en el enlace externo');" >
      </div>
    
      <div class="ficha-caja-enlace-texto">
        <% if @oferta.tipo == 'O'%>
          web con más información sobre la oferta
        <% else %>
          web con más información sobre la demanda
        <% end %>
      
      </div>

      <% else %>
    
        <div class="ficha-caja-enlace-texto">
        
          <br/><br/><br/>
    
          Web externa: <br/></br>
    
          <% if !@oferta.url.nil? %>
            <%= @oferta.url %>
          <% else %>
            Edite si quiere incluir un enlace a la página con información extra de la oferta.
          <% end %>
        
        </div>

        <div class="ficha-caja-enlace-edit">
          <img src="<%= current_theme_image_path('editar.png') %>" onClick="document.location.href='/home/ofertadatosgenerales/<%= @oferta.bazar_id -%>/<%= @oferta.id -%>?edit=url';" >
        </div>

    
      <% end %>
      
    </div>

    <div class="ficha-caja-gris trans25">
      <div class="ficha-caja-gris-titulo">
        <%= t(:text_empresas_destinatarias) %>        
      </div>
      <div class="ficha-caja-gris-texto">
        <% palabras = "" %>
        <% for pal in @oferta.palabrasclave_list%>
          <% palabras += pal+", " %>
        <% end %>
        <% if palabras.length > 2 %>
          <%= truncate_html(palabras, :length => 60).html_safe -%>
        <% else %>
          <%= t(:text_no_definio_palabras_claves) %>
        <% end %>
      </div>

      <% if @owner %>

        <div class="ficha-caja-gris-edit">
          <img src="<%= current_theme_image_path('editargris.png') %>" onClick="document.location.href='/home/ofertadatosgenerales/<%= @oferta.bazar_id -%>/<%= @oferta.id -%>?edit=palabras';" >
        </div>
      
      <% end %>
    
    </div>

    <div class="ficha-caja-gris trans25">
      <div class="ficha-caja-gris-titulo">
        <%= t(:text_fecha_de_publicacion) %>:       
      </div>

      <div class="ficha-caja-gris-fecha">
        <%= @oferta.fecha.strftime("%d-%m-%Y") %>
      </div>

      <div class="ficha-caja-gris-titulo">
        <%= t(:text_ambito) %>:       
      </div>
    
      <div class="ficha-caja-gris-fecha">
        
        <% case @oferta.ambito %>
        <% when "0" %>
          <%= t(:text_mi_bazar) %>
        <% when "1" %>
          <%= t(:text_nacional) %>
        <% when "2" %>
          <%= t(:text_internacional) %>
        <% else %>
          <%= t(:text_mi_bazar) %>
        <% end %>
        
      </div>
    
      <% if @owner %>

        <div class="ficha-caja-gris-edit">
          <img src="<%= current_theme_image_path('editargris.png') %>" onClick="document.location.href='/home/ofertadatosgenerales/<%= @oferta.bazar_id -%>/<%= @oferta.id -%>?edit=url';" >
        </div>
      
      <% end %>
    
    </div>

  </div>

</div>

<div class="caja-seccion-oferta">
  
  <div class="ficha-masdetalles-titulo">
    <%= t(:text_mas_detalles) %> 
  </div>

  <div class="ficha-masdetalles-texto">
    <% if @oferta.tipo == 'O'%>
      <%= @oferta.clicks -%> <%= t(:text_visitas_de_esta_oferta) %> 
    <% else %>
      <%= @oferta.clicks -%> <%= t(:text_visitas_de_esta_demanda) %> 
    <% end %>
  </div>

  <div class="ficha-masdetalles-texto2">
   XX <%= t(:text_veces_guardada_en_favoritos) %> 
  </div>

</div>

</div>

<script>

$(document).ready(function() {
	
  
  // SI.Files.stylizeAll();
  
  <% if params[:go] == "imagenes" %>
    $.scrollTo('#imagenes', 'slow');
  <% end %>

  $("a[rel=galeria]").fancybox(
    {
       'width': 650,
       'height': 600,
    		'transitionIn'	:	'elastic',
    		'transitionOut'	:	'elastic',
    		'speedIn'		:	600, 
    		'speedOut'		:	200, 
    		'overlayShow'	:	true
    	});

 });

</script>