<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>

<!-- sección cabecera empresa -->

<div class="caja-seccion" id="empresas-recomendadas">
  <div class="ficha-indice">
    <div class="fichaempresa-iconos ilumina5">
      <img class="fichaempresa-icono" src="<%= current_theme_image_path('sobre.png') %>">
    </div>
    <div class="fichaempresa-iconos ilumina5">
      <img class="fichaempresa-icono" src="<%= current_theme_image_path('favorito.png') %>">
    </div>
  </div>
  
  <div class="seccion-contenido">

    <div class="fichaempresa-titular">
      
      <div class="fichaempresa-titulo">
        <%= @empresa.nombre -%>
      </div>
      
      <div class="fichaempresa-cajaicono ilumina5">
        IND
      </div>
    
      <div class="fichaempresa-cajaicono ilumina5">
        5M€
      </div>


      <div class="fichaempresa-cajaicono ilumina5">
        *****
      </div>

      <div class="fichaempresa-enlace">
        <%= @empresa.url -%>
      </div>

    </div>

    
    
    <div class="fichaempresa-desc">
      <%= @empresa.desc -%>
    </div>
      
    <div class="seccion-menu">
      
      <div class="seccion-menu-item ilumina5" >
        <a href="/home#ofertas">Ofertas</a>
      </div>
      
      <div class="seccion-menu-item ilumina5">
        <a href="/home#demandas">Demandas</a>
      </div>
      
      <div class="seccion-menu-item ilumina5">
        <a href="/home#sobre">Sobre la empresa</a>
      </div>
      
      <div class="seccion-menu-item ilumina5">
        <a href="/home#sedes">Sedes</a>
      </div>
      
    </div>

  </div>

</div>


<!-- sección ofertas y demandas realizadas -->

<div class="caja-seccion" id="ofertas">
  <div class="ficha-indice">
  Ofertas
  </div>
  
  <div class="seccion-contenido">

    <%= render(:partial => "oferta", :collection => @ofertas) %>

  </div>

</div>

<div class="caja-seccion" id="demandas">
  <div class="ficha-indice">
  Demandas
  </div>
  
  <div class="seccion-contenido">

    <%= render(:partial => "oferta", :collection => @demandas) %>

  </div>

</div>

<!-- Por localización -->

<div class="caja-seccion" id="localizacion">
  <div class="ficha-indice">
  Por localización
  </div>
  
  <div class="seccion-contenido">
    
    <div class="seccion-cajon ilumina5">  
      <div class="ficha-titulo-total">
        Tu Bazar
      </div>
      
      <div class="seccion-cifra">
        <%= @totalempresas %> 
      </div>
      <div class="seccion-cifra-titulo">
        empresas
      </div>    
    </div>

    <div class="seccion-cajon ilumina5">  
      <div class="ficha-titulo-total">
        España
      </div>

      <div class="seccion-cifra">
        <%= @totalempresas %> 
      </div>
      <div class="seccion-cifra-titulo">
        empresas
      </div>    
    </div>

    <div class="seccion-cajon ilumina5">  
      <div class="ficha-titulo-total">
        Europa
      </div>

      <div class="seccion-cifra">
        <%= @totalempresas %> 
      </div>
      <div class="seccion-cifra-titulo">
        empresas
      </div>    
    </div>

    <div class="seccion-cajon ilumina5">  
      <div class="ficha-titulo-total">
        El mundo
      </div>

      <div class="seccion-cifra">
        <%= @totalempresas %> 
      </div>
      <div class="seccion-cifra-titulo">
        empresas
      </div>    
    </div>

  </div>

</div>

<!-- Por sectores  -->

<div class="caja-seccion" id="datos-bazar">
  <div class="ficha-indice">
  Por Sectores
  </div>
  
  <div class="seccion-contenido" id="contenido-datos-bazar">
    <div class="seccion-cajon ilumina5">

      <div class="ficha-sector-cifra">
        <%= @totalempresas %> 
      </div>

      <div class="ficha-sector-texto">
        empresas en INDUSTRIA 
      </div>
      
      <div class="ficha-sector-imagen">
        <img src="<%= current_theme_image_path('sector01black.png') %>" onClick="window.alert('click in fav');" >
      </div>
      
    </div>

    <div class="seccion-cajon ilumina5">

      <div class="ficha-sector-cifra">
        <%= @totalempresas %> 
      </div>

      <div class="ficha-sector-texto">
        empresas en DISTRIBUCIÓN 
      </div>
      
      <div class="ficha-sector-imagen">
        <img src="<%= current_theme_image_path('sector02black.png') %>" onClick="window.alert('click in fav');" >
      </div>
      
    </div>

    <div class="seccion-cajon ilumina5">

      <div class="ficha-sector-cifra">
        <%= @totalempresas %> 
      </div>

      <div class="ficha-sector-texto">
        empresas en FINANZAS 
      </div>
      
      <div class="ficha-sector-imagen">
        <img src="<%= current_theme_image_path('sector03black.png') %>" onClick="window.alert('click in fav');" >
      </div>
      
    </div>

    <div class="seccion-cajon ilumina5">

      <div class="ficha-sector-cifra">
        <%= @totalempresas %> 
      </div>

      <div class="ficha-sector-texto">
        empresas en CONOCIMIENTO 
      </div>
      
      <div class="ficha-sector-imagen">
        <img src="<%= current_theme_image_path('sector04black.png') %>" onClick="window.alert('click in fav');" >
      </div>
      
    </div>
    
    <div class="seccion-cajon ilumina5">

      <div class="ficha-sector-cifra">
        <%= @totalempresas %> 
      </div>

      <div class="ficha-sector-texto">
        empresas en COOPERATIVA
      </div>
      
      <div class="ficha-sector-imagen">
        <img src="<%= current_theme_image_path('sector05black.png') %>" onClick="window.alert('click in fav');" >
      </div>
      
    </div>
    
</div>

<a id="fichaempresa" class="fancybox.ajax" href=""></a>

<script>

$(document).ready(function() {

  $('.trans20').transify({opacityOrig:.20});
  $('.trans70').transify({opacityOrig:.70});
  $('.ilumina5').transify({opacityOrig:.05,opacityNew:.40,fadeSpeed:500});
  $('.ilumina10').transify({opacityOrig:.10,opacityNew:.40,fadeSpeed:500});
  
  $("#fichaempresa").fancybox({
		 'width' : 831,
		 // 'height' : 'auto',
     'margin' : 0,
		 'autoScale' : false,
		 'transitionIn' : 'none',
		 'transitionOut' : 'none',
		 'type' : 'iframe'
	 });
	
  $('input[placeholder]').placeholder();

 });

</script>