<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>

<div class="ficha-container">
    
<div class="ficha-caja-header">
  <div class="ficha-caja-header-empresa">
    logo sector :: <%= @empresa.nombre %>
  </div>
</div>
<div class="ficha-tipo">
  <% if @oferta.tipo == 'O'%>
    OFERTA
  <% else %>
    DEMANDA
  <% end %>
</div>

<div class="ficha-titulo">
  <%= @oferta.titulo %> 
</div>

<div class="ficha-valida">
  Oferta válida hasta el <%= @oferta.fecha_hasta.strftime("%d-%m-%y") %>
</div>

<div class="ficha-opciones">

  <div class="ficha-opciones-item">
    Icono Favoritos
  </div>

  <div class="ficha-opciones-item">
    contactar empresa
  </div>

</div>

<div class="ficha-descripcion">
  <%= @oferta.texto -%>
</div>

<div class="ficha fotos">
fotos fancybox 
</div>

<div>
enlace :: empresas a destinatarias :: fecha publicacion y ambito 
</div>

<div>
Más detalles 
</div>

</div>
Visitas de esta oferta
</div>

<div>
Guardada en favoritos 
</div>


</div>