<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>

<div class="home" style="width:660px;background:white;align:center;margin:0 auto;">

<div id="tabs" style="text-align: left;">
	<ul>
		<li><a href="#tabs-1"><%=t(:text_noticias)%></a></li>
		<li><a href="#tabs-2"><%=t(:text_que_es_bazar)%></a></li>
		<li><a href="#tabs-3"><%=t(:text_empresas)%></a></li>
		<li><a href="#tabs-4"><%=t(:text_dashboard)%></a></li>
		<li><a href="#tabs-5"><%=t(:text_registrarse)%></a></li>
		<li><a href="/login?display=inside"><%=t(:text_entrar)%></a></li>
	</ul>

	<div id="tabs-1">

		  <% @noticias = Noticia.where("visible = 1").order("fecha desc").limit(5)  %>
		  <% for noticia in @noticias %>
			<h3><span class="fecha"><%= noticia.fecha.strftime("%d-%m-%Y") -%></span> <%= noticia.titulo -%></h3>
			<p><%= noticia.texto -%></p>

		  <% end %>
		
	</div>
	
	
	<div id="tabs-2">
		<p><a href="http://garumfundatio.org/proyectos/bazar"><%=t(:text_bazar)%></a><%=t(:text_es_el_primer_programa_desarrollado_por)%> <a href="http://garumfundatio.org/"><%=t(:text_garum)%></a>.</p>
		<p><%=t(:text_es)%> <strong><%=t(:text_software_libre)%></strong> <%=t(:text_tiene_una)%><strong><%=t(:text_estructura_distribuida)%></strong><%=t(:text_y_sirve_para)%><strong><%=t(:text_generar_mercados)%></strong>.</p>
		<p><strong><%=t(:text_software_libre)%></strong><%=t(:text_no_solo_quiere_decir_que_el_codigo_sea_abierto_y_que_no_haya_que_pagar_licencias_de_uso_quiere_decir_que_hay_una_comunidad_de_desarrolladores_alimentada_y_animada_por_la_fundacion_innovando_y_mejorando_las_funcionalidades_permanentemente_por_eso_las_empresas_locales_de_desarrolladores_pueden_dar_servicio_sobre_bazar_y_desarrollar_sin_costes_y_con_todo_el_apoyo_nuevas_funcionalidades_para_necesidades_especificas_en_consecuencia_invertir_en_una_instalacion_de_bazar_para_un_cluster_de_empresas_o_una_asociacion_empresarial_significa_que_el_dinero_y_el_i_d_se_quedaran_y_desarrollaran_en_lo_local)%></p>
		<p><%=t(:text_que_la)%><strong><%=t(:text_estructura_sea_distribuida)%></strong><%=t(:text_significa_que_la_informacion_y_los_datos_no_dependen_de_una_empresa_o_institucion_centralizadora_externa_las_instalaciones_de_bazar_son_autonomas_aunque_se_interconecten_y_lo_mejor_es_que_se_interconectan)%><strong><%=t(:text_poniendo_en_contacto_a_clientes_y_proveedores_en_todo_el_mundo)%></strong>.</p>
		<p><%=t(:text_pero_realmente_lo_m_s_valioso_de_bazar_es_aquello_para_lo_que_sirve)%><strong><%=t(:text_bazar_facilita_que_las_peque_as_empresas_y_los_emprendedores_encuentren_nuevos_mercados_a_escala_global_en_un_entorno_confiable_sin_los_costes_de_la_internacionalizaci_n_f_sica)%></strong>.</p>
		<h3><%=t(:text_funcionalidades_del_proyecto_bazar)%></h3>
		<p><a href="http://garumfundatio.org/proyectos/bazar"><%=t(:text_bazar)%></a><%=t(:text_se_parece_a_una_red_social_cada_empresa_tiene_su_ficha_publica_sus_noticias_busca_empresas_que_puedan_estar_interesadas_en_sus_productos_o_que_le_provean_con_confiabilidad_a_mejores_precios)%></p>
		<p><%=t(:text_pero_a_diferencia_de_una_red_social_bazar_est_limitado_a_empresas_y_a_grupos_y_asociaciones_de_empresas_por_eso)%><strong><%=t(:text_el_corazon_de_bazar_es_un_sistema_de_ofertas_y_pedidos_optimizado_para_ayudar_a_cada_empresa_a_encontrar_nuevos_clientes_distribuidores_y_proveedores)%></strong>.</p>
		<p><%=t(:text_pero_el_mercado_tradicional_no_era_s_lo_un_lugar_para_la_compraventa_era_tambi_n_un_espacio_de_interacci_n_pol_tica_y_social_y_se_olvida_demasiado_a_menudo_el_lugar_donde_maestros_fil_sofos_y_jueces_arbitraban_conflictos_y_se_encontraban_con_sus_disc_pulos_el_mercado_no_es_exclusivamente_una_relaci_n_monetaria_sino_sobre_todo_una_relaci_n_social)%></p>
		<p><%=t(:text_recogiendo_ese_espiritu)%><a href="http://garumfundatio.org/proyectos/bazar"><%=t(:text_bazar)%></a><%=t(:text_incorporar_modulos_de)%><strong><%=t(:text_rating_e_learning_arbitraje_mensajer_a_interna_publicaci_n_de_contenidos)%></strong><%=t(:text_y_muchos_mas)%></p>
		<p><%=t(:text_en_pocas_palabras)%><a href="http://garumfundatio.org/proyectos/bazar"><%=t(:text_bazar)%></a><%=t(:text_es_un)%><strong><%=t(:text_generador_de_mercados)%></strong><%=t(:text_que_sirve_a_las_empresas_y_los_emprendedores_para)%><strong><%=t(:text_aumentar_sus_ventas_y_mejorar_sus_estrategias_de_compras)%></strong><%=t(:text_al_tiempo_que_les_facilita_establecer_alianzas_conocer_mejor_su_sector_y)%><strong><%=t(:text_posicionarse_en_mercados_internacionales_vendiendo_desde_el_primer_dia)%></strong>.</p>
	</div>
	
	
	<div id="tabs-3">
	
        <p><%=t(:text_este_es_el_directorio_alf_betico_de_empresas_haz_click_en_una_letra_para_ver_una_lista_de_las_empresas_cuyo_nombre_comienza_por_dicha_letra)%></p>

        <div class="directorio">

		  <div id="tabs2">
		  <ul>
		  <% letras = "" %>
		  <% ultima = "" %>
		  <% @empresas = Bazarcms::Empresa.where("1 = 1").order("nombre asc")  %>
		  <% for empre in @empresas %>
			  <% if ultima != empre.nombre[0].chr.upcase %>
			    <% ultima = empre.nombre[0].chr.upcase %>
				<% letras += ultima %>
				<li><a href="#tabs2-<%= empre.nombre[0].chr.upcase -%>"><%= empre.nombre[0].chr.upcase -%></a></li>
		    <% end %>
		  <% end %>
	    </ul>

		<% for ii in 0..letras.size-1  %>
			<% ll = letras[ii].chr %>
			<div id="tabs2-<%= letras[ii].chr -%>">
				
				<% @empresas = Bazarcms::Empresa.where('upper(substr(nombre,1,1)) = ?', [ letras[ii].chr ]).order('nombre desc')%>
				<div id="listadoempresas<%= ll -%>">
				
				<% for empre in @empresas %>
					<%= link_to(empre.nombre, empre.url) %> <a href="#" onclick="$('#listadoempresas<%= ll -%>').hide();$('#datos<%= ll -%>').load('/bazarcms/empresas/show2/<%= empre.id -%>');$('#datosempresas<%= ll -%>').show();"> <%= image_tag('lupa.png') -%> </a><br/>
				<% end %>
				
				</div>
				<div id="datosempresas<%= ll -%>" style="display:none">
					<a href="#" onclick="$('#listadoempresas<%= ll -%>').show(); $('#datosempresas<%= ll -%>').hide();"><%=t(:text_cerrar_informacion)%></a><br/><br/>
					<div id="datos<%= ll -%>">
					</div>
				</div>
			</div>
	    <% end %>
			
		  </div>	
		</div>
		
		<script>
			$(function() {
				$( "#tabs2" ).tabs({ selected: 0 });
			});
		</script>
		
	</div>
	
	
	<div id="tabs-4">

		<div id="tab4">
		
			<p><strong><%=t(:text_total_empresas)%></strong> <%= Bazarcms::Empresa.count_by_sql("select count(*) from empresas") %> <br/>
			<strong><%=t(:text_total_consultas_realizadas)%></strong> <%= Bazarcms::Empresasconsulta.count_by_sql("select count(*) from empresasconsultas") %></p>

			<table cellspacing="0">
                <tr>
                    <td>
                        <table class="tabla" cellspacing="0">
                            <tr>
                                <th>
                                <%=t(:text_nuevas_empresas)%>
                                </th>
                            </tr>
                            <tr>
                                <td>

                    			<% for empre in @ultimas %>
                    				<%= link_to(empre.nombre, empre.url) %> <a href="#" onclick="$('#tab4').hide();$('#conte4datos').load('/bazarcms/empresas/show2/<%= empre.id -%>');$('#conte4').show();"> <%= image_tag('lupa.png') -%> </a><br/>
                    			<% end %>
                				</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="tabla" cellspacing="0">
                            <tr>
                                <th>
                                <%=t(:text_empresas_actualizadas)%>
                                </th>
                            </tr>
                            <tr>
                                <td>

                    			<% for empre in @actualizadas %>
                    			<%= link_to(empre.nombre, empre.url) %> <a href="#" onclick="$('#tab4').hide();$('#conte4datos').load('/bazarcms/empresas/show2/<%= empre.id -%>');$('#conte4').show();"> <%= image_tag('lupa.png') -%> </a><br/>
                    			<% end %>
                				</td>
                			</tr>
                		</table>
            		</td>
        		</tr>
    		</table>
		</div>
	
		<div id="conte4" style="display: none">
			<a href="#" onclick="$('#tab4').show(); $('#conte4').hide();"><%=t(:text_cerrar_informacion)%></a><br/><br/>
			<div id="conte4datos">
			</div>
		</div>
	
	</div>

	<div id="tabs-5">

		<p><%=t(:text_estamos_en_beta_pero_ya_puedes_darte_de_alta_y_empezar_a_usar_este_bazar_todos_los_dias_vamos_incorporando_nuevas_funcionalidades)%></p>
		<p><%=t(:text_quieres_ser_de_los_primeros_envianos_un_correo_a_info_arroba_garumfundatio_org)%></p>
		
	</div>
	
	
	<div id="tabs-6">
	
	</div>	
	
</div>

</div> 
