<!DOCTYPE html>
<html>

  <head>
	<meta name="description" content="proyecto bazar, garum fundatio, agilizando mercados <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	<meta name="keywords" content="proyecto bazar, garum, garum fundatio, marketplace, agilizando mercados, <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	
	<title><%= h BZ_param("Titular") %> - <%=t(:text_que_es_bazar)%></title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-ui.js" %>
	<%= javascript_include_tag "jquery.cycle.all.min.js" %>
	<%= javascript_include_tag(current_theme_javascript_path('transify-min')) %>
	<%= stylesheet_link_tag(current_theme_stylesheet_path('queesbazar')) %>

	
	<%= csrf_meta_tag %>
	
	<% if BZ_param("BazarId").to_i == 2 %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-215887-21']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
	
	<script type="text/javascript">
	
	function slideSwitch() {
      var $active = $('#slideshow IMG.active');

      if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

      // use this to pull the images in the order they appear in the markup
      var $next =  $active.next().length ? $active.next(): $('#slideshow IMG:first');

      // uncomment the 3 lines below to pull the images in random order

      // var $sibs  = $active.siblings();
      // var rndNum = Math.floor(Math.random() * $sibs.length );
      // var $next  = $( $sibs[ rndNum ] );


      $active.addClass('last-active');
      $active.css({opacity: 1.0}).animate({opacity: 0.0}, 500);
      $next.css({opacity: 0.0}).addClass('active').animate({opacity: 1.0}, 1000, function() { $active.removeClass('active last-active'); });
      
  }
	
</script>
	
  </head>
	
	<% if !current_user.nil? %>
		<body class="logueado"><!-- si usuario logueado -->
		<% if !current_user_is_admin %>
			<body class="admin"><!-- si usuario administrador -->
		<% end %>
	<% else %>
		<body class="anonimo"><!-- si es anónimo -->
	<% end %>

<body>
  
<div class="container">
  <div class="header iluminafondo">
    
    <div class="caja-logo">
     <div id="logo"><img src="/themes/bazar/images/queesbazar/logo-garum.png" ></div>
    </div> <!-- fin caja logo -->

    <div class="caja-entrar ilumina2">
     <div id="entrar"><a href="/login" class="ilumina2"><img src="/themes/bazar/images/queesbazar/candado.png" ><%=t(:text_entrar)%></a></div>
    </div> <!-- fin caja entrar -->

  </div> <!-- fin del header -->

 
  <div class="cuerpo trans20">

    <div class="caja-titulo">
      <%=t(:text_bazar)%><br/>
      <%=t(:text_oferta_demanda_red)%>
    </div>
    
 
    <div class="caja-slide">

      <div id="slideshow">

        <img src="/themes/bazar/images/queesbazar/img1.png" alt="" class="active" />
        <img src="/themes/bazar/images/queesbazar/img2.png" alt="" />
        <img src="/themes/bazar/images/queesbazar/img3.png" alt="" />
        <img src="/themes/bazar/images/queesbazar/img4.png" alt="" />
        <img src="/themes/bazar/images/queesbazar/img5.png" alt="" />
      </div>
    </div>
  
    <div class="caja-des">
      <%=t(:text_bazar_permite)%> 
    </div>

    <div class="caja-entrar2 ilumina40" >
      <div class="caja-entrar2-corazon">
        <img src="/themes/bazar/images/queesbazar/corazon.png">
      </div>
      <div class="caja-entrar2-texto">
        <a href="/registrarse"><%=t(:text_bazar_solicita_entrada)%></a>
      </div>
    </div>
    
  </div>
  <div class="cuerpo2">  

    <div class="caja-totales">
      
    <div class="caja-oferta trans20">
      <div class="oferta-total"><%= @totalofertas %></div>
      <div class="oferta-texto"><%=t(:text_ofertas)%></div>
    </div>
    
    <div class="caja-oferta trans20">
      <div class="oferta-total"><%= @totaldemandas %></div>
      <div class="oferta-texto"><%=t(:text_demandas)%></div>
    </div>

    <div class="caja-empresas trans20">
      <div class="empresas-total"><%= @totalempresas %></div>
      <div class="empresas-texto"><%=t(:text_empresas_en_bazar)%></div>
    </div>

    <div class="caja-empresas trans20">
      <div class="empresas-total"><%= @totalbazares %></div>
      <div class="empresas-texto"><%=t(:text_bazares_conectados)%></div>
    </div>
    
    </div>

    <div class="caja-textos trans20">
      <div class="textos-titulo"><%=t(:text_que_ofrece_titulo)%></div>
      <div class="textos-parrafo">
        <p><%=raw t(:text_que_ofrece_parrafo)%></p>
      </div>
    </div>


    <div class="caja-textos trans20">
      <div class="textos-titulo"><%=t(:text_preguntas_titulo)%></div>
      <div class="textos-parrafo">
        <p><%=raw t(:text_preguntas_parrafo)%></p>
      </div>
    </div>


    <div class="caja-textos trans20">
      <div class="textos-titulo"><%=t(:text_crear_un_bazar_titulo)%></div>
      <div class="textos-parrafo">
        <p><%=raw t(:text_crear_un_bazar_parrafo)%></p>
          </div>
          
      </div>
    </div>

<br/><br/>
    <div class="cuerpo3">  

      <div class="caja-cerca">
        <div class="texto-cerca">
           <%=raw t(:text_bazares_cerca_ti)%>
        </div>
      </div>

      <% for cluster in @clusters %>
        <div class="caja-bazar ilumina20" onClick="window.open('<%= cluster[4] -%>','_blank');">
          <div class="bazar-titulo">
            <%= cluster[0] %>
          </div>
          <div class="bazar-totales">
            <%= cluster[1] %> <%=t(:text_empresas)%><br/>
            <%= cluster[2] %> <%=t(:text_ofertas)%>,
            <%= cluster[3] %> <%=t(:text_demandas)%><br/>
          </div>
        </div>
      <% end %>
    </div>


    <div class="cuerpo4 ilumina40">  
        <div class="texto-solicitar">
          <a href="/registrarse"><%=t(:text_bazar_solicita_entrada)%></a>
        </div>
    </div>

    <div class="cuerpo5 trans20">  
      <div class="titulo-porque">
        <%=t(:text_por_que_bazar_titulo)%>
      </div>

      <div class="texto-porque">
        <%=raw t(:text_por_que_bazar_parrafo)%>       
      </div>
     </div>

    <div class="footer ilumina2">

      <div class="caja-logo">
        <div id="logo"><img src="/themes/bazar/images/queesbazar/logo-garum.png"></div>
      </div> <!-- fin caja logo -->



      <div id="caja-correo" class="ilumina2">
        <a href="mailto:bazar@garumfundatio.org"><img src="/themes/bazar/images/queesbazar/correo.png"> bazar@garumfundatio.org</a> 
      </div>
    
    </div> <!-- fin footer-->

  </div> <!-- fin container -->


<script type="text/javascript">

$(document).ready(function() {

  $('.transpa').transify({opacityOrig:.35});
  $('.trans20').transify({opacityOrig:.20});
  $('.trans40').transify({opacityOrig:.40});
  $('.trans80').transify({opacityOrig:.80});
  $('.ilumina').transify({opacityOrig:.35,opacityNew:.15,fadeSpeed:500});
  $('.ilumina2').transify({opacityOrig:.70,opacityNew:.55,fadeSpeed:500});
  $('.ilumina20').transify({opacityOrig:.20,opacityNew:.40,fadeSpeed:500});
  $('.ilumina40').transify({opacityOrig:.40,opacityNew:.20,fadeSpeed:500});
  $('.ilumina80').transify({opacityOrig:.80,opacityNew:.99,fadeSpeed:500});
  
  // $('.iluminafondo').transify({opacityOrig:.99});
  


  $(function() {
    setInterval( "slideSwitch()", 4000 );
  });
 
 });
 
 
</script>


  </body>
</html>
