<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery-ui.js" %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.placeholder.min')) %>

<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('queesbazar')) %>

<div class="ficha-container">
<div id="tabs-6content" style="width: 460px; margin-bottom: 50px;">
  <div class="edit_user"> 

    <br/>
    <br/>
    <div class="login-input">
      <%= flash[:error] %><br/>
    </div>
    
  <% form_tag password_resets_path do %>
  <br/>
  <br/>

    <div class="field">
      <%= text_field_tag :email, nil,  :placeholder => "Tu correo", :class => "login-input" %>
    </div>
  
    <br/>
    <br/>
  
  
    <div class="login-caja-botones">
      <div class="actions" style="float: bottom;">
        <%= submit_tag 'Recordar Contraseña', :class => "login-boton" %>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <% end %>
  </div>
</div>
</div>

