<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery-ui.js" %>
<%= javascript_include_tag(current_theme_javascript_path('jquery.placeholder.min')) %>

<%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
<%= stylesheet_link_tag(current_theme_stylesheet_path('queesbazar')) %>

<div class="ficha-container">


<div id="caja-login">
<br/>
<br/>
<br/>


<%= flash[:error] %><br/>


<% form_tag password_resets_path do %>


  <%= text_field_tag :email, nil, :placeholder => "Tu correo", :class => "login-input"%>
  
  <br/>
  <br/>
  
  <%= submit_tag "Cambiar Contraseña", :class => "login-boton cambiar" %> 
  
  
<% end %>
<br/>
<br/>
<br/>

</div>

</div>

<script>
    $('input[placeholder]').placeholder();
</script>

