<p id="notice"><%= notice %></p>

<p>
  <b><%=t(:text_bazar)%></b>
  <%= @favorito.bazar_id %>
</p>

<p>
  <b><%=t(:text_user)%></b>
  <%= @favorito.user_id %>
</p>

<p>
  <b><%=t(:text_empresa)%></b>
  <%= @favorito.empresa_id %>
</p>

<p>
  <b><%=t(:text_fecha)%></b>
  <%= @favorito.fecha %>
</p>


<%= link_to t(:label_edit), edit_favorito_path(@favorito) %> |
<%= link_to t(:label_back), favoritos_path %>
