<!DOCTYPE html>
<html>
  <head>
  <meta name="description" content="proyecto bazar, garum fundatio, agilizando mercados <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
  <meta name="keywords" content="proyecto bazar, garum, garum fundatio, marketplace, agilizando mercados, <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  
  <title><%= h BZ_param("Titular") %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery-ui.js" %>
  <%= javascript_include_tag "jquery.cycle.all.min.js" %>
  <%= javascript_include_tag(current_theme_javascript_path('transify-min')) %>
  <%= javascript_include_tag(current_theme_javascript_path('jquery.fancybox.pack')) %>  
  <%= javascript_include_tag(current_theme_javascript_path('jquery.placeholder.min')) %>

  <%= stylesheet_link_tag(current_theme_stylesheet_path('bazar')) %>
  <%= stylesheet_link_tag(current_theme_stylesheet_path('fancybox/jquery.fancybox')) %>

  
  <%= csrf_meta_tag %>

  <% if BZ_param("BazarId").to_i == 2 %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-215887-21']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <% end %>
  
  </head>
  
    <% if !current_user.nil? %>
      <body class="logueado"><!-- si usuario logueado -->
      <% if !current_user_is_admin %>
        <body class="admin"><!-- si usuario administrador -->
      <% end %>
    <% else %>
      <body class="anonimo"><!-- si es anónimo -->
    <% end %>


<div class="container">
  <div class="header">
    
    <div class="caja-logo ilumina">
      <div id="caja-nombre">
        <h1><a
          <% if !current_user.nil? %>
            href="/home"
          <% else %>
            href="/"
          <% end %>
          ><%= h BZ_param("Titular") %></a>
        </h1>
        <h2><%= h BZ_param("Subtitular") %></h2>
      </div>
      <div id="logo"><img src="/themes/bazar/images/logo-bazar.png"></div>
    </div> <!-- fin caja logo -->

  
    <% if current_user.nil? %>
      <div id="socioenlaces" class="ilumina">
        <a href="/home/bazares"><%=t(:text_mercado)%></a>
      </div>
      <div id="socioenlaces"  class="ilumina">
        <a href="/home/datos"><%=t(:text_sociologia)%></a>
      </div>
      <div id="socioenlaces" class="ilumina">
        <a href="http://garumfundatio.org/faq-bazar"><%=t(:text_f_a_q)%></a>
      </div>
      <div id="socioenlaces" class="ilumina">
        <a class="login-link" href="/login"><%=t(:text_entrar)%></a>
      </div>
    <% else %>
      <div id="socioenlaces" class="ilumina">
        <a href="/home/ofertas"><%=t(:text_ofertas)%></a>
      </div>
      <div id="socioenlaces"  class="ilumina">
        <a href="/home/datos"><%=t(:text_demandas)%></a>
      </div>
      <div id="socioenlaces" class="ilumina">
        <a href="http://garumfundatio.org/faq-bazar"><%=t(:text_empresas)%></a>
      </div>
      <div id="socioenlaces" class="ilumina">
        <a class="login-link" href="/login"><%=t(:text_tu_pagina)%></a>
      </div>
      <div id="socioenlaces" class="ilumina" style="width:300px;">
        <a class="login-link" href="/login"><%=t(:text_buscar_empresas_ofertas_o_demandas)%></a>
      </div>
          
    <% end %>
      
  </div> <!-- fin del header -->
  
  <% if !current_user.nil? %>
  <% end %>
    
  <% if current_user_is_admin || current_user_is_dinamizador %>
        <% if current_user_is_dinamizador %>
        <% end %>
      <% end %>
 
    <div id="content" class="span-24 last">  
      <div class="body">

      <div id="contenido" >
        <%= content_for?(:bazarcontent) ? yield(:bazarcontent) : yield %>
      </div>
      <div id="sidebar" style="display:none" >
          <ul id="sidebar-items">
      
        <% if current_user.nil? %>
        <h3><%=t(:text_rss)%></h3>
        <ul class="links">
          <li><%= image_tag('feed.png')-%> <%= link_to("Noticias", "/noticias.rss") -%></li>
        </ul>
      
        <% end %>

        <li>
        <% if !current_user.nil? %>

        <% end %>
        </li>
          </ul>
       </div>  
      </div>

    </div>

    <div class="footer">

      <div class="caja-logo ilumina">
        <div id="caja-nombre">
          <h1><a
            <% if !current_user.nil? %>
              href="/home"
            <% else %>
              href="/"
            <% end %>
            ><%= h BZ_param("Titular") %></a>
          </h1>
          <h2><%= h BZ_param("Subtitular") %></h2>
        </div>
        <div id="logo"><img src="/themes/bazar/images/logo-bazar.png"></div>
      </div> <!-- fin caja logo -->


      <% if current_user.nil? %>
        <div id="socioenlaces" class="ilumina">
          <a href="/home/bazares"><%=t(:text_mercado)%></a>
        </div>
        <div id="socioenlaces"  class="ilumina">
          <a href="/home/datos"><%=t(:text_sociologia)%></a>
        </div>
        <div id="socioenlaces" class="ilumina">
          <a href="http://garumfundatio.org/faq-bazar"><%=t(:text_f_a_q)%></a>
        </div>
      <% end %>

      <div id="socioenlaces" class="ilumina" style="width:360px;">
        <a href="http://garumfundatio.org/bazar">Bazar</a> es software libre desarrollado por <a href="http://garumfundatio.org" style="text-decoration: none"><%=t(:text_garum_fundatio)%></a> bajo los términos de la licencia GPL v3.
      </div>
    
    </div> <!-- fin footer-->

  </div> <!-- fin container -->


<script type="text/javascript">

$(document).ready(function() {

  $('.transpa').transify({opacityOrig:.35});
  $('.ilumina').transify({opacityOrig:.35,opacityNew:.15,fadeSpeed:500});

});

</script>


  </body>
</html>






