<h1>Noticias</h1>

<table class="tabla">
  <tr>
    <th>Título</th>
    <th>Texto</th>
    <th>Fecha</th>
    <th>Visible</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticias.each do |noticia| %>
  <tr>
    <td><%= noticia.titulo %></td>
    <td><%= noticia.texto %></td>
    <td><%= noticia.fecha %></td>
    <td><%= noticia.visible %></td>
    <td><%= link_to image_tag('lupa.png'), noticia %></td>
    <td><%= link_to image_tag('pencil.png'), edit_noticia_path(noticia) %></td>
    <td><%= link_to image_tag('delete.png'), noticia, :confirm => 'Seguro que quiere borrar esta noticia?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Publicar una noticia', new_noticia_path %>
