<%= form_for(@roles_user) do |f| %>
  <% if @roles_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roles_user.errors.count, "error") %> prohibited this roles_user from being saved:</h2>

      <ul>
      <% @roles_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rol_id %><br />
    <%= f.text_field :rol_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
