<p><b><%=t(:text_ejemplos_api_proyecto_bazar)%></b></p>

<p><b><%=t(:text_api_bazares)%></b></p>

<p><%=t(:text_apis_disponibles_en_cada_uno_de_los_bazares)%></p>

<p><a href="/api/ejemploinfo"><%=t(:text_informaci_n_del_bazar)%></a></p>
<p><a href="/api/ejemploempresas"><%=t(:text_empresas_del_bazar)%></a></p>
<p><a href="/api/ejemploinfoempresa"><%=t(:text_informaci_n_de_una_empresa)%></a></p>
<p><a href="/api/ejemploperfiles"><%=t(:text_perfiles_activos_de_un_bazar)%></a></p>
<p><a href="/api/ejemplopaises"><%=t(:text_pa_ses_activos_de_un_bazar)%></a></p>

<p><b><%=t(:text_api_directorio_garum_fundatio)%></b></p>

<p><%=t(:text_apis_disponibles_en_el_directorio_de_bazares)%></p>
