<p><b><%=t(:text_ejemplo_1_como_obtener_informaci_n_de_un_bazar_proyecto_bazar)%></b></p>

<p><b><%=t(:text_funci_n)%></b></p>

<p><%=t(:text_http_enlace_del_bazar_api_info_xml_json_html)%></p>

<p><b><%=t(:text_descripci_n)%></b></p>

<p><%=t(:text_con_esta_llamada_del_api_te_devuelve_la_informaci_n_general_de_un_bazar)%></p>

<p><b><%=t(:text_ejemplo)%></b></p>

<p><%=t(:text_http_bazar_garumfundatio_org_api_info_xml)%></p>

<p><b><%=t(:text_resultado)%></b></p>

<p><a href="#" onclick="$('#resultado').load('/api/info.xml');"><%=t(:text_xml)%></a> | <a href="#" onclick="$('#resultado').load('/api/info.json');"><%=t(:text_json)%></a> | <a href="#" onclick="$('#resultado').load('/api/info.html');"><%=t(:text_html)%></a></p>

<xmp id="resultado">
<%=t(:text_seleccione_el_tipo_de_resultado_que_desea_ver)%>
</xmp>

<p><b><%=t(:text_formatos_disponibles)%></b></p>

<p><%=t(:text_xml_json_html)%></p>