<p><b><%=t(:text_que_es_el_api_del_proyecto_bazar)%></b></p>

<p><%=t(:text_api_application_programming_interface_es_la_forma_que_tiene_el_proyecto_bazar_de_compartir_la_informaci_n_de_la_red_de_bazares_con_tus_aplicaciones_y_o_herramientas)%></p>

<p><b><%=t(:text_como_se_usa_el_api)%></b></p>

<p><%=t(:text_nuestra_intenci_n_es_que_sea_muy_sencillo_extraer_informaci_n_de_la_red_de_bazares_por_ejemplo_para_obtener_la_informaci_n_general_de_un_bazar_solo_tendr_as_que_abrir_el_siguiente_enlace)%></p>

<p><%=t(:text_http_bazar_garumfundatio_org_api_info_xml)%></p>

<p><%=t(:text_al_hacerlo_te_devolver_un_fichero_en_formato_xml_que_habitualmente_saben_manejar_otros_programas_o_tu_aplicaci_n)%></p>

<p><b><%=t(:text_por_qu_compartimos_la_informaci_n)%></b></p>

<p><%=t(:text_por_que_es_clave_para_agilizar_las_relaciones_entre_los_usuarios_del)%><a href="http://garumfundatio.org/bazar"><%=t(:text_proyecto_bazar)%></a><%=t(:text_cuanto_m_s_accesible_y_mejor_es_la_calidad_de_la_informaci_n_que_se_maneja_en_una_red_mejor_es_su_rendimiento_creemos_en_los_proyectos_abiertos_en_internet)%></p>

<p><b><%=t(:text_formatos_soportados)%></b></p>

<p><%=t(:text_los_formatos_soportados_son_xml_json_y_csv)%></p>

<p><b><%=t(:text_hay_limitaciones)%></b></p>

<p><%=t(:text_la_informaci_n_del_proyecto_bazar_va_a_estar_accesible_para_todo_el_mundo_algunas_llamadas_a_la_api_como_la_b_squeda_de_empresas_estar_solo_disponible_para_usuarios_registrado_en_cualquiera_de_los_nodos_que_componen_la_red_de_bazares_para_encontrar_un_bazar_puedes_consultar_el)%><a href="http://directorio.garumfundatio.org/#tabs-3"><%=t(:text_directorio_de_bazares)%></a> </p>

<p><b><%=t(:text_ejemplos_del_api)%></b></p>

<p><%=t(:text_hemos_creado_una_p_gina_de_ejemplos_de_como_usar_el_api_de_bazar_cada_una_de_las_funciones_disponibles_cuenta_con_su_descripci_n_ejemplos_de_uso_y_un_ejemplo_de_que_se_obtiene_cuando_se_invoca_puedes_ver_toda_esta_informaci_n_en_la_p_gina_de)%><a href="/api/ejemplos"><%=t(:text_ejemplos_del_api_del_proyecto_bazar)%></a></p>

<a href="/"><%=t(:text_volver_a_la_p_gina_principal)%></a>
