<h3 class="page-title">Listado de Usuarios</h3>

<table class="tabla" cellspacing="0">
  <tr>
    <th>Id</th>
    <th>Usuario</th>
    <th>Correo</th>
    <th colspan="2"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= link_to (image_tag("pencil.png", :border => "0"), edit_user_path(user))  %></td>
    <td><%= link_to (image_tag("delete.png")), user, :confirm => 'Esta usted seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @mensajes %>

<%= link_to 'Nuevo Usuario', new_user_path %>
