<h3 class="page-title"><%=t(:text_listado_de_usuarios)%></h3>

<table class="tabla" cellspacing="0">
  <tr>
    <th><%=t(:text_id)%></th>
    <th><%=t(:text_usuario)%></th>
    <th><%=t(:text_correo)%></th>
    <th colspan="2"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td style="text-align: center"><%= link_to (image_tag("pencil.png", :border => "0", :title => 'Editar'), edit_user_path(user))  %></td>
    <td style="text-align: center"><%= link_to (image_tag("delete.png", :title => 'Eliminar')), user, :confirm => 'Esta usted seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @mensajes %>

<%= link_to t(:label_nuevo_usuario), new_user_path %>
