<h1>Listing usersessions</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Remember me</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usersessions.each do |usersession| %>
  <tr>
    <td><%= usersession.login %></td>
    <td><%= usersession.password %></td>
    <td><%= usersession.remember_me %></td>
    <td><%= link_to 'Show', usersession %></td>
    <td><%= link_to 'Edit', edit_usersession_path(usersession) %></td>
    <td><%= link_to 'Destroy', usersession, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usersession', new_usersession_path %>
