<h1>Listing gruposconfs</h1>

<table>
  <tr>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gruposconfs.each do |gruposconf| %>
  <tr>
    <td><%= gruposconf.desc %></td>
    <td><%= link_to 'Show', gruposconf %></td>
    <td><%= link_to 'Edit', edit_gruposconf_path(gruposconf) %></td>
    <td><%= link_to 'Destroy', gruposconf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gruposconf', new_gruposconf_path %>
