<% if @tareas > 0 %>

<h3 class="page-title"><%=t(:text_avisos_pendientes)%></h3>

<table class="tabla" cellspacing="0">

<% for aviso in @avisos %>
	<% if aviso[3] == 'T'%>

	<tr>

		<td>
			<img src="/images/exclamation.png" border="0" /> <b><%= aviso[0].html_safe %></b>
		</td>
	
		<td>
			<a href="<%= aviso[2] %>"><%= aviso[1] %></a>
		</td>

	</tr>

	<% if aviso[3] == 'R'%>
	<tr>
		<td colspan="2">
			<%= aviso[4] %>
		</td>	
	</tr>
	<% end %>

	<% end %>

<% end %>
</table>

<% end %>


<% if @reco > 0 %>

<a href="#" onclick="$('#recomendaciones').toggle();"><img src="/images/bombilla.png" border="0" /> Tiene <%= @reco %> recomendaciones pendientes</a> 

<div id="recomendaciones" style="display:none">

<h3 class="page-title"><%=t(:text_recomendaciones_pendientes)%></h3>

<table class="tabla" cellspacing="0">

<% for aviso in @avisos %>
	<% if aviso[3] == 'R'%>

	<tr>

		<td>
			<img src="/images/bombilla.png" border="0" /> <b><%= aviso[0].html_safe %></b>
		</td>
	
		<td>
			<a href="<%= aviso[2] %>"><%= aviso[1] %></a>
		</td>

	</tr>

	<% if aviso[3] == 'R'%>
	<tr>
		<td colspan="2">
			<%= aviso[4] %>
		</td>	
	</tr>
	<% end %>

	<% end %>

<% end %>
</table>

<% end %>

</div>