

<div class="contenido-destacado">
<h3>Qué es Bazar</h3>
<p><strong>Bazar</strong> es un generador de mercados que sirve a las empresas y los emprendedores para aumentar sus ventas y mejorar sus estrategias de compras, al tiempo que les facilita establecer alianzas, conocer mejor su sector y posicionarse en mercados internacionales vendiendo desde el primer día.</p>
<p>El corazón de Bazar es un sistema de ofertas y pedidos optimizado para ayudar a cada empresa a encontrar nuevos clientes, distribuidores y proveedores.</p>
<p>Bazar incorporará módulos de rating, e-learning, arbitraje, mensajería interna, publicación de contenidos y muchos más.</p>

</div>

<div class="contenidos-secundarios tres">

<div>
<h4>Noticias</h4>

<% @noticias = Noticia.where("visible = 1").order("fecha desc").limit(2)  %>
<% for noticia in @noticias %>

    <span class="fecha"><%= noticia.fecha.strftime("%d-%m-%Y") -%></span>
    <h3> <%= noticia.titulo -%></h3>
	<p><%= noticia.texto -%></p>

<% end %>

</div>

<div>
<h4>Nuevas Empresas</h4>
<ul>
	
<% for empre in @ultimas %>
	<li><%= link_to(empre.nombre, empre.url) %> <a href="#" onclick="$('#tab4').hide();$('#conte4datos').load('/bazarcms/empresas/show2/<%= empre.id -%>');$('#conte4').show();"> </a></li>
<% end %>

<ul>
</div>

<div>
<h4>Sobre este bazar</h4>
<p>Bazar-Tatooine es un nodo de Bazar impulsado por Tatooine. Este nodo agrupa empresas de dintintos sectores con almenos una sede en Tatooine.</p>
<p>Si eres una empresa, estas interesada en formar parte de este nodo de Bazar y tienes almenos una sede en Tatooine envianos tus datos de contacto a info@tatooine.gx.</p>
</div>

</div><!-- fin .contenidos-secundarios -->

<div class="contenidos-terciarios">
<h4>Nube de Tags de este bazar</h4>
<div id="nube">
	
	<% @tags = Bazarcms::Empresa.tag_counts_on(:actividades) %>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <div class="<%= css_class -%>"><%= tag.name %></div>
	<% end %>
	<% @tags = Bazarcms::Empresa.tag_counts_on(:intereses) %>
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	  <div class="<%= css_class -%>"><%= tag.name %></div>
	<% end %>
	
</div>
</div>
