
<div id="cajabusqueda">
<div class="demo">

<p class="busqueda-principal">
<input id="busca" name="busqueda" size="30" type="text">

</p>

<a id="busqueda-link" href="#busqueda-busqueda"><%=t(:text_busqueda_avanzada)%></a>
<script>
$('#busqueda-link').click(function() {
  $('#avanzada').slideToggle(250);
});

tipo = 'E';	
$('#check-empresas2').attr('checked', true);

</script>


	<style>
	#demo-frame > div.demo { padding: 1px !important; };
	</style>
	
	<script>
	<%= Bazarcms::Empresasdato.listaRE %>
	<%= Bazarcms::Empresasdato.listaRD %>
	
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: maxRE,
			values: [ 0, maxRE ],
			slide: function( event, ui ) {
				$( "#empleados" ).val( "Entre: " + listaRE[ui.values[ 0 ]] + " y " + listaRE2[ui.values[ 1 ]]  );
				$( "#empleados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#empleados" ).val( "Todos");
		$( "#empleados2" ).val( "0+"+maxRE);
		

		$( "#slider-range2" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#ventas" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#ventas2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		
		$( "#compras" ).val( "Todos");
		$( "#compras2" ).val( "0+"+maxRD);

		$( "#ventas" ).val( "Todos");
		$( "#ventas2" ).val( "0+"+maxRD);

		$( "#slider-range3" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#compras" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#compras2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});


		$( "#slider-range4" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#resultados" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#resultados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#resultados" ).val( "Todos");
		$( "#resultados2" ).val( "0+"+maxRD);

		
	});
	

	</script>

<div id="avanzada" style="display:none">

<h3><%=t(:text_filtrar_por_perfiles)%></h3>

<div id="filtro-perfiles">
<table cellspacing="0" class="tabla">
	<tr><th><%=t(:text_ofrecen)%></th><th><%=t(:text_empresas_que_sean_de_estos_sectores)%></th></tr>
	<tr>
		<td valign="top" style="width: 420px;">
		<form action="#loquesea" id="perfiles-ofertas-form">
		 	<label for="query1"><%=t(:text_buscar_en_sectores)%></label> <input type="text" name="q" id="query1" />
		 </form>
		 <input type="hidden" id="pofertan" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>					
		<td valign="top" >
		<div id="filtroofertan">
			<p><%=t(:text_seleccione_uno_o_varios_sectores_en_la_caja_de_busqueda)%></p>
			<p><b> <%=t(:text_solo)%> </b><%=t(:text_las_empresas_que_esten_en)%> <b> <%=t(:text_alguno)%></b> <%=t(:text_de_estos_sectores)%></p>
		</div>
		</td>
	</tr>
</table>

<table cellspacing="0" class="tabla">
	<tr><th><%=t(:text_demandan)%></th><th><%=t(:text_empresas_que_sean_de_estos_sectores)%></th></tr>
	<tr>
		<td valign="top" style="width: 420px;">
		<form action="#loquesea" id="perfiles-demandas-form" >
		 	<label for="query2"><%=t(:text_buscar_en_sectores)%></label> <input type="text" name="q" id="query2" />
		 </form>
		 <input type="hidden" id="pdemandan" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>					
		<td valign="top">
			<div id="filtrodemandan">
				<p><%=t(:text_seleccione_uno_o_varios_sectores_en_la_caja_de_busqueda)%></p>
				<p><b> <%=t(:text_solo)%> <b/><%=t(:text_las_empresas_que_esten_en)%> <b> <%=t(:text_alguno)%></b> <%=t(:text_de_estos_sectores)%></p>
			</div>
		</td>
	</tr>
</table>

</div><!-- /#filtro-perfiles -->


<script type="text/javascript">
 //<![CDATA[

var a1;
var a2;
var tot1 = 0; 
var tot2 = 0;
var lis1 = [];
var lab1 = [];
var ayuda1 = [];
var html1 = "";
var lis2 = [];
var lab2 = [];
var ayuda2 = [];
var html2 = "";

function borraofertan(cual) {
	var ii;
	if (cual == 0 && tot1 == 0) {
		tot1 = 0;
		$('#pofertan').val("");
	}
	else {

		var ii;
		for (ii = cual; ii < tot1 -1; ii++) {
			lis1[ii] = lis1[ii+1];
			lab1[ii] = lab1[ii+1];
			ayuda1[ii] = ayuda1[ii+1];
		}
		tot1 = tot1 - 1;
		
	}
	pintaofertan();
};

function pintaofertan() {

	
	if (tot1 == 0) {
		html1 = "";
		$('#filtroofertan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>");
		$('#pofertan').val("");
	}
	else {
		html1 = "";
		bus = "";
		var ii = 0;
		for (ii = 0; ii < tot1; ii++) {
			html1 += '<div class="perfil">';
			html1 += '	<div class="nombre-perfil">'+lab1[ii]+'</div>';
			html1 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' =onclick\"$('#O"+lis1[ii]+"\').slideToggle(250);\">";
			html1 += " <img src='/images/papelera.png' border='0' onclick='borraofertan("+ii+");'></span>";
			html1 += '<div class="descripcion-perfil" id="O'+lis1[ii]+'" style="display:none">';
    		html1 += '<p>'+ayuda1[ii]+'</p>';
    		html1 += "<a class='ocultar-link' href='#' onclick=\"$('#O"+lis1[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
    		html1 += "</div>";
			html1 += "</div>";
			
			bus += lis1[ii]+","
		}
		$('#filtroofertan').html(html1);
		
		$('#pofertan').val(bus);
	}
};


function borrademandan(cual) {
	var ii;
	if (cual == 0 && tot2 == 0) {
		tot2 = 0;
		$('#pdemandan').val("");
	}
	else {

		var ii;
		for (ii = cual; ii < tot2 -1; ii++) {
			lis2[ii] = lis2[ii+1];
			lab2[ii] = lab2[ii+1];
			ayuda2[ii] = ayuda2[ii+1]
		}
		tot2 = tot2 - 1;
		
	}
	pintademandan();
};

function pintademandan() {
	
	if (tot2 == 0) {
		html2 = "";
		$('#filtrodemandan').html("<p>Seleccione uno o varios sectores en la caja de búsqueda</p>");
		$('#pdemandan').val("");
	}
	else {
		html2 = "";
		bus = "";
		var ii = 0;
		for (ii = 0; ii < tot2; ii++) {
			
			
			html2 += '<div class="perfil">';
			html2 += '	<div class="nombre-perfil">'+lab2[ii]+'</div>';
			html2 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' onclick=\"$('#D"+lis2[ii]+"\').slideToggle(250);\">";
			html2 += " <img src='/images/papelera.png' border='0' onclick='borrademandan("+ii+");'></span>";
			html2 += '<div class="descripcion-perfil" id="D'+lis2[ii]+'" style="display:none">';
    		html2 += '<p>'+ayuda2[ii]+'</p>';
    		html2 += "<a class='ocultar-link' href='#' onclick=\"$('#D"+lis2[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
    		html2 += "</div>";
			html2 += "</div>";
			
			bus += lis2[ii]+",";
		}
		$('#filtrodemandan').html(html2);

		$('#pdemandan').val(bus);
	}
};

jQuery(function() {
 
	var options = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json",
	  minLength: 2,
	  select: function(event, ui) {

		var esta = 0; 
		
		for (ii = 0; ii < tot1; ii++) {
			if (lis1[ii] === ui.item.id) {
				esta = 1; 		
			}
		}
		if (!esta) {
			lis1[tot1] = ui.item.id;
			lab1[tot1] = ui.item.label;
			ayuda1[tot1] = ui.item.ayuda;
			tot1 += 1;
		}
		
		pintaofertan();
		$("#query1").val("");
		
		return false;
	  },
	  noCache: false //set to true, to disable caching
	};


	
	a1 = $('#query1').autocomplete(options);
  
	var options2 = {
	  width: 300,
	  delimiter: /(,|;)\s*/,
	  deferRequestBy: 150, //miliseconds
	  params: { tipo: 'O' },
	  source: "/bazarcms/busquedaperfiles.json",
	  minLength: 2,
	  select: function(event, ui) {
		
		var esta = 0; 

		for (ii = 0; ii < tot2; ii++) {
			if (lis2[ii] === ui.item.id) {
				esta = 1; 		
			}
		}
		if (!esta) {
			lis2[tot2] = ui.item.id;
			lab2[tot2] = ui.item.label;
			ayuda2[tot2] = ui.item.ayuda;
			tot2 += 1;
		}
		
		$("#query2").val("");
		pintademandan();

		return false;
	  },
	  noCache: false //set to true, to disable caching
	};
 
	a2 = $('#query2').autocomplete(options2);

    $('#query1').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

    $('#query2').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });

});
 
//]]>
</script>


<h3><%=t(:text_filtrar_por_pais)%></h3>

<div id="filtro-pais">

	<table cellspacing="0" class="tabla">
		<tr><th><%=t(:text_paises)%></th><th><%=t(:text_paises_seleccionados)%></th></tr>
		<tr>
			<td valign="top" style="width: 420px;">
			<form action="#loquesea" id="paises-form" >
                <label for="query3"><%=t(:text_buscar_paises)%></label>
                <input type="text" name="q" id="query3" />
			 </form>
			 <input type="hidden" id="ppaises" style="border:0; color:#f6931f; font-weight:bold;" />
			</td>					
			<td>
				<div id="mispaises">
					<p><%=t(:text_seleccione_uno_o_varios_paises_en_la_caja_de_busqueda)%></p>
					<p>Para buscar use el nombre Internacional. Por ejemplo: Francia -><%=t(:text_france)%></p>
				</div>
			</td>
		</tr>
	</table>


</div><!-- /#filtro-pais -->

<script type="text/javascript">
 //<![CDATA[

	var tot3 = 0; 
	var lis3 = [];
	var lab3 = [];
	var ayuda3 = [];
	var html3 = "";

	function borrapaises(cual) {
		var ii;
		if (cual == 0 && tot3 == 0) {
			tot3 = 0;
			$('#ppaises').val("");
		}
		else {

			var ii;
			for (ii = cual; ii < tot3 -1; ii++) {
				lis3[ii] = lis3[ii+1];
				lab3[ii] = lab3[ii+1];
				ayuda3[ii] = ayuda3[ii+1]
			}
			tot3 = tot3 - 1;
		}
		pintapaises();
	};

	function pintapaises() {

		if (tot3 == 0) {
			html3 = "";
			$('#mispaises').html("<p>Seleccione uno o varios países en la caja de búsqueda.</p><p>Puedes buscar también por código de País Ej: GB . La búsqueda es por el nombre internacional. Ej: Francia -> France.</p>");
			$('#ppaises').val("");
		}
		else {
			html3 = "";
			bus = "";
			var ii = 0;
			for (ii = 0; ii < tot3; ii++) {


				html3 += '<div class="perfil">';
				html3 += '	<div class="nombre-perfil">'+lab3[ii]+'</div>';
				html3 += "<span class='opciones-perfil'><img title='Ver Descripción' src='/images/help.png' border='0' onclick=\"$('#P"+lis3[ii]+"\').slideToggle(250);\">";
				html3 += " <img src='/images/papelera.png' border='0' onclick='borrapaises("+ii+");'></span>";
				html3 += '<div class="descripcion-perfil" id="P'+lis3[ii]+'" style="display:none">';
	    		html3 += '<p>'+ayuda3[ii]+'</p>';
	    		html3 += "<a class='ocultar-link' href='#' onclick=\"$('#P"+lis3[ii]+"\').slideToggle(250);\">Ocultar la descripción</a>";
	    		html3 += "</div>";
				html3 += "</div>";

				bus += lis3[ii]+",";
			}
			$('#mispaises').html(html3);

			$('#ppaises').val(bus);
		}
	};

	jQuery(function() {

		var options = {
		  width: 300,
		  delimiter: /(,|;)\s*/,
		  deferRequestBy: 150, //miliseconds
		  params: { tipo: 'O' },
		  source: "/busquedapaises.json",
		  minLength: 2,
		  select: function(event, ui) {

			var esta = 0; 

			for (ii = 0; ii < tot3; ii++) {
				if (lis3[ii] === ui.item.id) {
					esta = 1; 		
				}
			}
			if (!esta) {
				lis3[tot3] = ui.item.id;
				lab3[tot3] = ui.item.label;
				ayuda3[tot3] = ui.item.ayuda;
				tot3 += 1;
			}

			pintapaises();
			$("#query3").val("");

			return false;
		  },
		  noCache: false //set to true, to disable caching
		};

		
		a1 = $('#query3').autocomplete(options);

	    $('#query3').keypress(function (e) {
	        var code = null;
	        code = (e.keyCode ? e.keyCode : e.which);
	        return (code == 13) ? false : true;
	    });

	});

//]]>
</script>


<h3><%=t(:text_filtrar_por_datos_economicos)%></h3>

<div id="filtro-datos-economicos">
<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="empleados"><%=t(:text_numero_empleados)%></label>

		</td>
		<td width="200px">
			<div id="slider-range"></div>
		</td>
		<td>
            <input type="text" size="35" id="empleados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="empleados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>

<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="compras"><%=t(:text_compras)%></label>
		</td>
		<td width="200px">
			<div id="slider-range3"></div>
		</td>
		<td>
            <input type="text" size="35" id="compras" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="compras2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>

<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="ventas"><%=t(:text_ventas)%></label>
		</td>
		<td width="200px">
			<div id="slider-range2"></div>
		</td>
        <td>
            <input type="text" size="35" id="ventas" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="ventas2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>


<table border="0" cellspacing="0">
	<tr>
		<td width="350px">
			<label for="resultados"><%=t(:text_resultados)%></label>
		</td>
		<td width="200px">
			<div id="slider-range4"></div>
		</td>
		<td>
            <input type="text" size="35" id="resultados" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;" />
            <input type="hidden" id="resultados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
	</tr>
</table>
</div><!-- /#filtro-datos-economicos -->

<h3><%=t(:text_ayuda_busqueda_avanzada)%><a id="ayuda-busqueda-link" href="#ayuda-busqueda"><%=t(:text_ver_ocultar)%></a></h3>
<script>
$('#ayuda-busqueda-link').click(function() {
  $('#ayuda-busqueda').slideToggle(250);
});
</script>

     <div id="ayuda-busqueda">
          <ul id="pasos-container">
          <li class="paso" id="paso1">
               <div><%=t(:text_introduzca_los_terminos_de_la_busqueda)%></div>
               <img src="/images/ayuda-busqueda-paso1.gif" alt="" />
          </li>
          <li class="paso" id="paso2">
               <div><%=t(:text_puede_usar_asteriscos_o_espacios_para_buscar_por_varias_palabras)%></div>
               <img src="/images/ayuda-busqueda-paso2.gif" alt="" />
          </li>
          <li class="paso" id="paso3">
               <div><%=t(:text_use_los_desplazadores_para_limitar_la_busqueda)%></div>
               <img src="/images/ayuda-busqueda-paso3.gif" alt="" />
          </li>
          <li class="paso" id="paso4">
               <div><%=t(:text_pulse_buscar_para_empezar_la_busqueda)%></div>
               <img src="/images/ayuda-busqueda-paso4.gif" alt="" />
          </li>
          <li class="paso" id="paso5">
               <div><%=t(:text_progreso_de_la_busqueda)%></div>
               <img src="/images/ayuda-busqueda-paso5.gif" alt="" />
          </li>
          <li class="paso" id="paso6">
               <div><%=t(:text_navegue_por_los_resultados)%></div>
               <img src="/images/ayuda-busqueda-paso6.gif" alt="" />
          </li>
          </ul>

          <div class="pasos-nav-pyn">
          <a href="#" id="prev-paso"><%=t(:text_anterior)%></a>
          <a href="#" id="next-paso"><%=t(:text_siguiente)%></a>
          </div>

     </div><!-- /#ayuda-busqueda-->

     <script>
             $('#pasos-container')
                .before('<div id="pasos-nav">')
                .cycle({
                   fx:     'scrollHorz',
                   speed:  '500',
                   timeout: 0,
                   next:   '#next-paso',
                   prev:   '#prev-paso',
                   pager:  '#pasos-nav'
                });
     </script>
     <div id="cajabusqueda2">
         <button><%=t(:text_buscar)%></button>
     </div><!-- /#cajabusqueda2 -->
</div><!-- /#avanzada-->

<p id="opciones-busqueda">
  <span><label id="check-ofertas" onclick="tipo='O'; $('#check-ofertas2').attr('checked', true);">
	<input id="check-ofertas2" onclick="tipo='O';" type="radio" name="size"><%=t(:text_ofertas)%></label></span>
  <span><label id="check-demandas" onclick="tipo='D'; $('#check-demandas2').attr('checked', true);">
	<input id="check-demandas2" onclick="tipo='D';" type="radio" name="size"><%=t(:text_demandas)%></label></span>
  <span><label id="check-empresas" onclick="tipo='E'; $('#check-empresas2').attr('checked', true);">
	<input id="check-empresas2" onclick="tipo='E';" type="radio" name="size" checked="checked"><%=t(:text_empresas)%></label></span>
</p>


 <button><%=t(:text_buscar)%></button>
 <a href="/bazarcms/publicaroferta" id="publicar-link" ><strong><%=t(:text_publicar)%></strong><%=t(:text_oferta_demanda)%></a>

</div><!-- /.demo -->

</div><!-- /#cajabusqueda -->

<br />

<div id="estado" style="display: none; width:550px; margin-bottom: 15px;" >
	<style>
		.ui-progressbar-value { background-image: url(/images/pbar-ani.gif); }
	</style>
	<script>
		$(function() {
			$( "#progressbar" ).progressbar({ value: 0});
		});
	</script>
	<div id="progressbar" style="display: none"></div>
	<div id="estadotexto" style="display: none"></div>
</div>

<div id="resultados">

</div><!-- /#resultados-->

<div id="lista">

</div>

<script>

function lanzabusqueda() {

		var contador = 0; 
		
		$('#lista').html('Enviando peticiones a los bazares');

		s = $("#busca").val();
		if (s.length == 0) {
			s = '*';
		}
		s = s.replace(/ /g, "+");

		// TODO solo deberíamos enviarlos si esta activada la búsqueda avazanda ;-) 

		// if ( $("#avanzada").is(":visible") ) { 
	//	if ( $("#avanzada").css("display") != "none" ) { 
			emple = $("#empleados2").val();
			ventas = $("#ventas2").val();
			compras = $("#compras2").val();
			resultados = $("#resultados2").val();
			pofertan = $("#pofertan").val();
			pdemandan = $("#pdemandan").val();
			ppaises = $("#ppaises").val();
			
	//	}
	//	else {
			emple = "0 10";
			ventas = "0 10";
			compras = "0 10";
			resultados = "0 10";
			pofertan = "";
			pdemandan = "";
			ppaises = "";				
	//	}

		$('#avanzada').hide('slow');
		$("#estado").show();
		$("#progressbar").show();
		$("#busca").focus();
		$("#estadotexto").show();

		if (tipo == 'E') {
			$("#estadotexto").html('Buscando Empresas...');			
		}
		else {
			$("#estadotexto").html('Buscando Ofertas...');
		}

		if (tipo == 'E') {
			$.ajax({
			  async:true, 
			  url: '/bazarcms/enviabusqueda?q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados+'&pofertan='+pofertan+'&pdemandan='+pdemandan+'&ppaises='+ppaises, 
			  success: function(data) {
			    $('#lista').html(data);
				clearInterval(actualiza);

				$('#progressbar').hide();
				$("#progressbar").progressbar({ value: 0});

				$('#estadotexto').hide();
				$("#estadotexto").html('');
				$("#busca").focus();
				clearInterval(actualiza);
			  }
			});			
		}
		else {
			$.ajax({
			  async:true, 
			  url: '/bazarcms/enviabusquedaofertas?q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados+'&pofertan='+pofertan+'&pdemandan='+pdemandan+'&ppaises='+ppaises+'&qtipo='+tipo, 
			  success: function(data) {
			    $('#lista').html(data);
				clearInterval(actualiza);

				$('#progressbar').hide();
				$("#progressbar").progressbar({ value: 0});

				$('#estadotexto').hide();
				$("#estadotexto").html('');
				$("#busca").focus();
				clearInterval(actualiza);
			  }
			});
			
		}
		
		var actualiza = setInterval(function(){
		
			contador += 1; 
			
			if (contador > 12 ) {
				
				$('#lista').html("<b>El sistema de búsquedas no ha respondido adecuadamente.</b><br /> Pruebe con otra búsqueda.");
				$('#progressbar').hide();
				$("#progressbar").progressbar({ value: 0});

				$('#estadotexto').hide();
				$("#estadotexto").html('');
				$("#busca").focus();
				clearInterval(actualiza);
			    
			}
		
			if (tipo == "E") {
				$.get('/bazarcms/estadobusqueda', function(data) {
					$("#progressbar").progressbar({ value: (data[0].empresasconsulta.total_respuestas * 100) / data[0].empresasconsulta.total_consultas});
					$("#estadotexto").html(data[0].empresasconsulta.total_resultados +' Empresas de '+ data[0].empresasconsulta.total_respuestas +' Bazares');
				});				
			}
			else {
				$.get('/bazarcms/estadobusquedaofertas', function(data) {
					$("#progressbar").progressbar({ value: (data[0].ofertasconsulta.total_respuestas * 100) / data[0].ofertasconsulta.total_consultas});
					$("#estadotexto").html(data[0].ofertasconsulta.total_resultados +' Ofertas de '+ data[0].ofertasconsulta.total_respuestas +' Bazares');				
				});	
			}	
			
	     },1500);
		
		return false;
};

	$(function() {
		$("button", ".demo").button();
		$("button", ".demo").click(function(){lanzabusqueda();});
		
		$('#busca').keypress(function (e) {
	        var code = null;
	        code = (e.keyCode ? e.keyCode : e.which);
	        if ( code == 13) {
				lanzabusqueda();
			}
			return (code == 13) ? false : true;
	    });

	});

	
</script>

<div id="avisos">

	<script>
	$('#avisos').load("/avisos/dashboard");
	</script>
	
</div>

<div id="ofertas">

	<script>
	$('#ofertas').load("/ofertas/dashboard");
	</script>
	
</div>

<div id="favoritos">

	<script>
	$('#favoritos').load("/favorito/dashboard");
	</script>
	
</div>

<div id="ofertasfavoritos">

	<script>
	$('#ofertasfavoritos').load("/ofertasfavorito/dashboard");
	</script>
	
</div>


<div id="mensajes">

	<script>
	$('#mensajes').load("/mensaje/dashboard");
	</script>
	
</div>


<div id="actividades">

	<script>
	$('#actividades').load("/actividad/dashboard");
	</script>

</div>
