<% if !current_user.nil? %>
	<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>
<% end %>

<h3 class="page-title"><%=t(:text_datos_de_esta_ubicacion)%></h3>

<table id="results" class="tabla" cellspacing="0">

	<tr>

		<td>
			<%= link_to(@ciudad.descripcion, ciudades_path+'/'+@ciudad.friendly_id) %> 
		</td>
		
		<td>
			<%= link_to(@ciudad.pais.descripcion, paises_path+'/'+@ciudad.pais.friendly_id) %>
		</td>

	</tr>
	
</table>

<br />

<h3 class="page-title"><%=t(:text_empresas_en_esta_ubicacion)%></h3>

<table id="results" class="tabla" cellspacing="0">
	
<% for ubicacion in Bazarcms::Ubicacion.where('ciudad_id = ?', @ciudad.id).order('empresa_id') %>

	<tr>

		<td>
			<% empre = Bazarcms::Empresa.find(ubicacion.empresa_id) %>
			<%= link_to(empre.nombre, "/home/fichaempresa/#{BZ_param('BazarId')}/#{empre.id}") %>
		</td>
		
	</tr>
	
<% end %>

</table>

<% if current_user.nil? %>

<br/>
<br/>

<b><%=t(:text_es_necesario_registrarse_para_poder_usar_bazar)%></b>

<br/>
<br/>

<a class="volver-home-link" href="/home/datos"><%=t(:text_los_datos_de_este_bazar)%></a>
<a class="volver-home-link" href="/home/registrarse"><%=t(:text_darse_de_alta_en_este_bazar)%></a>
<a class="volver-home-link" href="/home/bazares"><%=t(:text_que_es_un_bazar)%></a>

<% end %>
