<p><b><%=t(:text_ejemplo_4_como_obtener_los_perfiles_activos_de_un_bazar_proyecto_bazar)%></b></p>

<p><b><%=t(:text_funcion)%></b></p>

<p><%=t(:text_http_enlace_del_bazar_api_perfiles_xml_json)%></p>

<p><b><%=t(:text_descripcion)%></b></p>

<p><%=t(:text_con_esta_llamada_del_api_te_devuelve_los_perfiles_activos_de_un_bazar)%></p>

<p><b><%=t(:text_ejemplo)%></b></p>

<p><%=t(:text_http_bazar_garumfundatio_org_api_perfiles_json)%></p>

<p><b><%=t(:text_resultado)%></b></p>

<p><a href="#" onclick="$('#resultado').load('/api/perfiles.xml');"><%=t(:text_xml)%></a> | <a href="#" onclick="$('#resultado').load('/api/perfiles.json');"><%=t(:text_json)%></a></p>

<xmp id="resultado">
<%=t(:text_seleccione_el_tipo_de_resultado_que_desea_ver)%>
</xmp>

<p><b><%=t(:text_formatos_disponibles)%></b></p>

<p><%=t(:text_xml_json)%></p>
