<p><b><%=t(:text_ejemplo_3_como_obtener_informacion_de_una_empresa_proyecto_bazar)%></b></p>

<p><b><%=t(:text_funcion)%></b></p>

<p><%=t(:text_http_enlace_del_bazar_api_infoempresa_xml_json_id_empresa)%></p>

<p><b><%=t(:text_descripcion)%></b></p>

<p><%=t(:text_con_esta_llamada_del_api_obtienes_la_informacion_de_una_empresa_es_necesario_poner_el_codigo_de_la_empresa_al_final_del_enlace)%></p>

<p><b><%=t(:text_ejemplo)%></b></p>

<p><%=t(:text_http_bazar_garumfundatio_org_api_infoempresa_xml_5)%></p>

<p><b><%=t(:text_resultado)%></b></p>

<p><a href="#" onclick="$('#resultado').load('http://bazar.garumfundatio.org/api/infoempresa.xml/5');"><%=t(:text_xml)%></a> | <a href="#" onclick="$('#resultado').load('http://bazar.garumfundatio.org/api/infoempresa.json/5');"><%=t(:text_json)%></a> </p>

<xmp id="resultado">
<%=t(:text_seleccione_el_tipo_de_resultado_que_desea_ver)%>
</xmp>

<p><b><%=t(:text_formatos_disponibles)%></b></p>

<p><%=t(:text_xml_json)%></p>
