<b><%= t(:text_bienvenido)%> <%= @bazar %>.</b> 
<br/>
<br/>

<%= t(:text_su_usuario_es)%> <%= @username %>
<br/>
<br/>


<%= t(:text_enlace_entrar_bazar)%> 
<br/>
<br/>

<a href="<%= @url %>"> <%= @url %> </a>

<br/>
<br/>

<%= t(:text_recomendaciones_al_entrar)%>

<br/>
<br/>
* <a href="<%= @url %>/bazarcms/empresas/<%= @userid -%>/edit"><%= t(:text_datos_empresa_sectores_ubicaciones)%></a>
<br/>
<br/>
* <a href="<%= @url %>/home"><%= t(:text_busqueda_empresas_ofertas_demandas)%></a>
<br/>
<br/>

* <%= t(:text_anadir_favoritos_empresas)%>
