<h1>Listing confs</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Grupo</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.nombre %></td>
    <td><%= conf.grupo_id %></td>
    <td><%= conf.tipo %></td>
    <td><%= conf.valor %></td>
    <td><%= conf.desc %></td>
    <td><%= link_to 'Show', conf %></td>
    <td><%= link_to 'Edit', edit_conf_path(conf) %></td>
    <td><%= link_to 'Destroy', conf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conf', new_conf_path %>
