<h1>Parámetros del sistemas</h1>

<table>
  <tr>
    <th>Parametro</th>
    <th>Grupo</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th>Desc</th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.nombre %></td>
    <td><%= conf.grupo_id %></td>
    <td><%= conf.tipo %></td>
    <td><%= conf.valor %></td>
    <td><%= conf.desc %></td>
    <td><%= link_to 'Edit', edit_conf_path(conf) %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Conf', new_conf_path %>

* Estoy hay que quitarlo cuando esten todos los parametros igual que borrar. 
