<h1>Listing roles</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Rol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |rol| %>
  <tr>
    <td><%= rol.id %></td>
    <td><%= rol.rol %></td>
    <td><%= link_to 'Show', rol %></td>
    <td><%= link_to 'Edit', edit_rol_path(rol) %></td>
    <td><%= link_to 'Destroy', rol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rol', new_rol_path %>
