<%= form_for(@mensaje, :url => {:action => 'enviarnotificacion'}) do |f| %>

<div class="field">
    <%= f.hidden_field :de %>
    <%= f.hidden_field :para %>
    <%= f.hidden_field :tipo %>
    <%= f.hidden_field :fecha %>
    <%= f.hidden_field :leido %>
    <%= f.hidden_field :borrado %>
</div>

 <div class="field">
	De:  <%= User.find(@mensaje.de).login -%> a todos los usuarios
 </div> 

  <div class="field">
    <%= f.label :Asunto %>:  <%= f.text_field :asunto %>
  </div>

  <div class="field">
    <%= f.label :Texto %><br />
    <%= f.text_area :texto, :size => "60x10" %>
  </div>

  <div class="actions">
	<%= f.submit "Enviar" %>
  </div>

<% end %>