<a class="volver-home-link" href="/home"><%=t(:text_laquo_volver_a_la_p_gina_de_b_squedas)%></a>

	<% if (params[:tipo] == 'N') %>
    	<h3 class="page-title"><%=t(:text_notificaciones)%><%= link_to("Ver Mensajes", "/mensajes?tipo=M", :class => "opcion-mensajes") %></h3>
    <% else %>
		<h3 class="page-title"><%=t(:text_mensajes)%><%= link_to("Ver Notificaciones", "/mensajes?tipo=N", :class => "opcion-mensajes") %></h3>
	<% end %>


<%= render 'muestranotificaciones' %>
