<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home"><%=t(:text_volver_a_la_pagina_de_busquedas)%></a>

<h3 class="page-title"><%=t(:text_empresas_que_sigo)%></h3>

<table id="results" class="tabla" cellspacing="0">

	<%= render(:partial => "favorito", :collection => @favoritos) %>
	
</table>

<br />


<%= pageless(@favoritos.total_pages, favoritos_path) %>
