<% if !current_user.nil? %>
	<a class="volver-home-link" href="/home"><%=t(:text_laquo_volver_a_la_p_gina_de_b_squedas)%></a>
<% end %>

<h3 class="page-title"><%=t(:text_pa_ses_con_empresas_de_este_bazar)%></h3>

<table id="results" class="tabla" cellspacing="0">
	<tr>
		<td>
			<b><%=t(:text_p_is)%></b>
		</td>
		<td>
			<b><%=t(:text_empresas_en_este_bazar)%></b>
		</td>
		<td>
			<b><%=t(:text_empresas_en_el_mercado)%></b>
		</td>
		
	</tr>
	<%= render(:partial => "pais", :collection => @paises) %>
	
</table>

<br />