<tr>

	<td style="width: 150px">
		<%= link_to Bazarcms::Empresa.find(actividad.user_id).nombre, bazarcms_empresa_path(actividad.user_id, :bazar_id => actividad.bazar_id) %>
		<%= helper_rating_show2(actividad.bazar_id, actividad.empresa_id).html_safe %>
	</td>

	<td>
		<%= actividad.desc.html_safe %>
	</td>
	
	<td>
    	<%= actividad.fecha.strftime("%d-%m-%Y") %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{actividad.user_id}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(actividad.bazar_id, actividad.user_id, actividad.nombre_empresa, "actividad") %>
	</td>

</tr>