<% empre = Bazarcms::Empresa.find_by_id(actividad.user_id) %>

<tr>
	<td width="102px">
		<% img = logo_helper(actividad.bazar_id, actividad.user_id) %>
		<% if !img.nil? %>
			<%= link_to(image_tag(img), bazarcms_empresa_path(actividad.user_id, :bazar_id => actividad.bazar_id)) %> 
		<% end %>
	</td>
	
	<td style="width: 150px">
		<% if !empre.nil?%>
			<%= link_to empre.nombre, bazarcms_empresa_path(actividad.user_id, :bazar_id => actividad.bazar_id) %>
		<% else %>
		    <% actvidad.user_id %>
		<% end %>
		<%= helper_rating_show2(actividad.bazar_id, actividad.user_id).html_safe %>
	</td>

	<td>
		<%= actividad.desc.html_safe %>
	</td>
	
	<td width="80px">
    	<%= actividad.fecha.strftime("%d-%m-%Y") %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{actividad.user_id}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(actividad.bazar_id, actividad.user_id, actividad.nombre_empresa, "actividad") %>
	</td>

</tr>