<% cache "bazar_actividades_dashboard", {:expires_in => 10.minutes.to_i} do %>

<h3 class="page-title"><%=t(:text_actividad_en_el_bazar)%></h3>

<table class="tabla" cellspacing="0">
<tbody>

<% for act in @ultimas %>
<tr>

	<td style="width: 150px">
		<%= link_to Bazarcms::Empresa.find(act.user_id).nombre, bazarcms_empresa_path(act.user_id, :bazar_id => act.bazar_id) %>
		<%= helper_rating_show2(act.bazar_id, act.user_id).html_safe %>
	</td>

	<td>
		<%= act.desc.html_safe %>
	</td>

	<td>
		<%= act.fecha.strftime("%d-%m-%y") %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{act.user_id}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(act.bazar_id, act.user_id, act.nombre_empresa, "actividad") %>

	</td>

</tr>
<% end %>


</tbody></table>

<% if @total > 5 %>
	<%= link_to("Ver más eventos (#{@total-5}+) &raquo;".html_safe, actividades_path, :class => "volver-home-link") %>
<% end %>

<% end %>

