<h3 class="page-title">Actividad en el Bazar</h3>

<table class="tabla" cellspacing="0">

<% for act in @ultimas %>
<tr>

	<td>
		<%= link_to Bazarcms::Empresa.find(act.user_id).nombre, bazarcms_empresa_path(act.user_id, :bazar_id => act.bazar_id) %>
	</td>

	<td>
		<%= act.desc.html_safe %>
	</td>

	<td class="dos-iconos">
		<%= link_to image_tag("email.png"), new_mensaje_url+"?aquien=#{act.user_id}&tipo=M", :title => 'Enviar Mensaje de Correo' %>
		<%= helper_favo(act.bazar_id, act.user_id, act.nombre_empresa, "actividad") %>
	</td>

</tr>
<% end %>

</table>

<% if @total > 5 %>
	<%= link_to("Ver más eventos (#{@total-5}+) &raquo;".html_safe, actividades_path, :class => "volver-home-link") %>
<% end %>
