<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home"><%=t(:text_laquo_volver_a_la_p_gina_de_b_squedas)%></a>

<h3 class="page-title"><%=t(:text_actividad_de_las_empresas_que_sigo)%></h3>

<table class="tabla" cellspacing="0"><tbody id="results">

	<%= render(:partial => "actividad", :collection => @actividades) %>
	
</tbody></table>

<br />

<%= pageless(@actividades.total_pages, actividades_path) %>
