<p id="notice"><%= notice %></p>

<p>
  <b><%=t(:text_desc)%></b>
  <%= @gruposconf.desc %>
</p>


<%= link_to t(:label_edit), edit_gruposconf_path(@gruposconf) %> |
<%= link_to t(:label_back), gruposconfs_path %>
