<%= form_for(@usersession) do |f| %>
  <% if @usersession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersession.errors.count, "error") %><%=t(:text_prohibited_this_user_session_from_being_saved)%></h2>

      <ul>
      <% @usersession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= flash[:notice] %>
  <div class="field">
    <%= f.label :Usuario %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :clave %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :Recuerdame %><br />
    <%= f.text_field :remember_me %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
