<!DOCTYPE html>
<html>
  <head>
	<meta name="description" content="proyecto bazar, garum fundatio, agilizando mercados <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	<meta name="keywords" content="proyecto bazar, garum, garum fundatio, marketplace, agilizando mercados, <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	
	<title><%= h BZ_param("Titular") %></title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-ui.js" %>
	<%= stylesheet_link_tag("scaffold") %>
	<!--   %= stylesheet_link_tag("bazar") % -->
	<!-- %= stylesheet_link_tag("jquery-ui-1.8.7.custom") % -->
	
	<%= csrf_meta_tag %>
  </head>
  <body >
		
   <div class="container">

	  <div id="header" class="span-24 last">
	    <div class="span-23 prepend-1">
	      <div class="span-23 last">
			<br/>
		      <h1 align="center"><%= h BZ_param("Titular") %></h1>
	          <h2 align="center"><%= h BZ_param("Subtitular") %></h2>
			<br/>
	      </div>
	    </div>
	  </div>
 
	  <div id="content" class="span-24 last">	
			<div class="body">

			<div id="contenido" >
				<br />
				<%= content_for?(:bazarcontent) ? yield(:bazarcontent) : yield %>
				<br/>
				<br/>
	  		
			</div>
			<div id="sidebar" >
	        <ul id="sidebar-items">
			
				<% if current_user.nil? %>
				<h3>RSS</h3>
				<ul class="links">
					<li><%= image_tag('feed.png')-%> <%= link_to("Noticias", "/noticias.rss") -%></li>
				</ul>
			
				<% end %>
			  <li>
		            <ul class="links">
		              
							<% if !current_user.nil? %>
								<li>
								<%= link_to current_user.login,  edit_user_path(current_user.id) %>
								<%= link_to(image_tag('logout.png'),  "/logout") %>
								</li>
								<li>
								<%= link_to(image_tag('notificacion.png'),  "/mensajes?tipo=N") %>
								(<%= Mensaje.notificacionessinleer(current_user.id).count -%>/<%=  Mensaje.notificacionestotal(current_user.id).count -%>) 
								
								<%= link_to(image_tag('email.png'),  "/mensajes?tipo=M") %>
								(<%= Mensaje.mensajessinleer(current_user.id).count -%>/<%=  Mensaje.mensajestotal(current_user.id).count -%>) 

								</li>
							<% end %>
						
		            </ul>
		          </li>	
	          <li>
				<% if !current_user.nil? %>

				<% if !current_user_is_invitado %>

	            <h3>Modulos de Bazar</h3>
	            <ul class="links">
					<li><%= link_to "Página Principal", "/home" %></li>
				    <li><%= link_to "Mi cuenta",  edit_user_path(current_user.id) %> </li>
				    <li><%= link_to "Mi empresa", edit_bazarcms_empresa_path(current_user.id) %> </li>
					<li><%= link_to "Buscador Empresas", '/bazarcms/buscadorempresas' %> </li>
					<li><%= link_to "Consultas Realizadas", bazarcms_empresasconsultas_path %> </li>
	            </ul>
				<% end %>

				<% end %>
	          </li>

	          <li>
				<% if current_user_is_admin %>

	            <h3>Administración</h3>
	
	            <ul class="links">
				  <li><%= link_to "Usuarios", users_path %> </li>
				  <li><%= link_to "Configuración del Sistema", confs_path %> </li>
				  <li><%= link_to "Gestión Bazares", clusters_path %> </li>
				  <li><%= link_to "Notificacion a Usuarios", '/notificacion?tipo=N' %> </li>
				  <li><%= link_to "Actualización Información", '/updateinfo' %> </li>
	            </ul>

				<% end %>
	          </li>


	         <li>
				<% if current_user_is_dinamizador %>

	            <h3>Dinamización</h3>
	            <ul class="links">
				    <li><%= link_to "Mailing a Usuarios", '/notificacion?tipo=M' %> </li>
				    <li><%= link_to "Noticias", noticias_path %> </li>
	            </ul>

				<% end %>
	          </li>

	          <li>
				<% if current_user_is_invitado %>

	            <h3>Bienvenido a Bazar</h3>
	            <ul class="links">
	                <li><a href="http://api.rubyonrails.org/">Que es Bazar</a></li>
				    <li><%= link_to "Registrate",  new_user_path %> </li>
	            </ul>

				<% end %>
	         </li>

	        </ul>
	     </div>	
			</div>
			
			
			
			
	  </div>

		<div id="footer" class="span-24 last">
	 		<div class="span-5 append-1 append-bottom">
	    		&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://garumfundatio.org" style="text-decoration: none">Garum Fundatio</a>
	 		</div>
		</div> <!-- fin footer-->

	

  </div> <!-- fin container -->

  </body>
</html>



