<!DOCTYPE html>
<html>
  <head>
	<meta name="description" content="proyecto bazar, garum fundatio, agilizando mercados <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	<meta name="keywords" content="proyecto bazar, garum, garum fundatio, marketplace, agilizando mercados, <%= h BZ_param("Titular") %>, <%= h BZ_param("Subtitular") %>" /> 
	
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	
	<title><%= h BZ_param("Titular") %></title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-ui.js" %>
	<%= javascript_include_tag "jquery.cycle.all.min.js" %>

	<%= stylesheet_link_tag("bazar") %>

	
	<%= csrf_meta_tag %>
	

	
  </head>
	
		<% if !current_user.nil? %>
			<body class="logueado"><!-- si usuario logueado -->
			<% if !current_user_is_admin %>
				<body class="admin"><!-- si usuario administrador -->
			<% end %>
		<% else %>
			<body class="anonimo"><!-- si es anónimo -->
		<% end %>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
	
   <div class="container">

	  <div id="header">
		      <h1 id="title"><a
              <% if !current_user.nil? %>
                 href="/home"
              <% else %>
                 href="/"
              <% end %>
              ><%= h BZ_param("Titular") %></a>
              </h1>
	          <h2 id="slogan"><%= h BZ_param("Subtitular") %></h2>
	  </div>
	  
      <% if current_user.nil? %>
         <div id="nav-usuario">
           <a class="registro-link" href="#">Registrarse</a> o
           <a class="login-link" href="#" onclick="$('#dialog-form').dialog('open');$('#login-content').load('/login?display=inside');
		">Entrar</a>
         </div>
		<script>
		$(function() {
			$( "#dialog:ui-dialog" ).dialog( "destroy" );


			$( "#dialog-form" ).dialog({
				autoOpen: false,
				height:259,
				width: 323,
				resizable: false,
				draggable: false,
				modal: true,
				close: function() {
				}
			});

		});
		</script>
		
		<div id="dialog-form" title="Entrar en Bazar">
			<div id="login-content">
			</div>
		</div>
      <% end %>

      <% if !current_user.nil? %>
			<ul id="nav-usuario">
				<li class="user-links">
				<%= link_to current_user.login,  edit_user_path(current_user.id), :class => 'user-link' %>
				<%= link_to(image_tag('icono-logout.png'),  "/logout", :class => 'logout-link', :title => 'Cerrar Sesión') %>
				</li>
				<li class="user-messages">
				<%= link_to(image_tag('notificacion.png'),  "/mensajes?tipo=N", :class => 'notif-link', :title => 'Notificaciones sin leer') %>
				<strong><%= Mensaje.notificacionessinleer(current_user.id).count -%></strong>

				<%= link_to(image_tag('email.png'),  "/mensajes?tipo=M", :class => 'msgs-link', :title => 'Mensajes sin leer') %>
				<strong><%= Mensaje.mensajessinleer(current_user.id).count -%></strong>

				</li>
				<li class="nav-site">
                <%= link_to(image_tag('icono-home.png'), "/home", :class => 'home-link', :title => 'Página Principal') %>
                <%= link_to(image_tag('icono-usuario.png'), edit_user_path(current_user.id), :class => 'account-link', :title => 'Mi Cuenta') %>
                <%= link_to(image_tag('group.png'), edit_bazarcms_empresa_path(current_user.id), :class => 'empresa-link', :title => 'Mi Empresa') %>
                <%= link_to(image_tag('icono-historial.png'), bazarcms_empresasconsultas_path, :class => 'historial-link', :title => 'Historial de Consultas Realizadas') %>
                <%= link_to(image_tag('add.png'), "/home", :class => 'crear-oferta-link', :title => 'Crear Oferta/Demanda') %>
                <% if current_user_is_admin || current_user_is_dinamizador %>
                    <%= link_to(image_tag('icono-admin.png'), "#", :class => 'administracion-link', :title => 'Administración') %>
                <% end %>
                </li>
            </ul>
      <% end %>
	  
	  <% if current_user_is_admin || current_user_is_dinamizador %>
        <div id="nav-admin-container">
             <span class="tapa-blanco"></span>
             <ul id="nav-admin">
                 <li><a href="#">Administrador</a>
                    <ul>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item bastante más largo</a></li>
                        <li><a href="#">otro Item</a></li>
                        <li><a href="#">Item 4</a>
                           <ul>
                               <li><a href="#">Item 1</a></li>
                               <li><a href="#">Item bastante más largo</a></li>
                               <li><a href="#">otro Item</a></li>
                           </ul>
                        </li>
                        <li><a href="#">Item 5</a></li>
                    </ul>
                 </li>
                 <li><a href="#">Dinamizador</a>
                    <ul>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item bastante más largo</a></li>
                        <li><a href="#">otro Item</a>
                               <ul>
                                   <li><a href="#">Item 1</a></li>
                                   <li><a href="#">Item bastante más largo</a></li>
                                   <li><a href="#">otro Item</a></li>
                               </ul>
                        </li>
                        <li><a href="#">Item 4</a></li>
                        <li><a href="#">Item 5</a></li>
                    </ul>
                 </li>
             </ul>
        </div><!-- /#nav-admin-container -->
        
        <script>
            $('.administracion-link').click(function() {
                $('#nav-admin-container').toggle();
            });
        </script>
      <% end %>
 
	  <div id="content" class="span-24 last">	
			<div class="body">

			<div id="contenido" >
				<%= content_for?(:bazarcontent) ? yield(:bazarcontent) : yield %>
			</div>
			<div id="sidebar" style="display:none" >
	        <ul id="sidebar-items">
			
				<% if current_user.nil? %>
				<h3>RSS</h3>
				<ul class="links">
					<li><%= image_tag('feed.png')-%> <%= link_to("Noticias", "/noticias.rss") -%></li>
				</ul>
			
				<% end %>

			  <li>
							<% if !current_user.nil? %>
							<ul id="user-menu" class="links">
								<li class="user-links">
								<%= link_to current_user.login,  edit_user_path(current_user.id), :class => 'user-link' %>
								<%= link_to(image_tag('icono-logout.png'),  "/logout", :class => 'logout-link', :title => 'Cerrar Sesión') %>
								</li>
								<li class="user-messages">
								<%= link_to(image_tag('notificacion.png'),  "/mensajes?tipo=N", :class => 'notif-link', :title => 'Notificaciones') %>
								(<%= Mensaje.notificacionessinleer(current_user.id).count -%>/<%=  Mensaje.notificacionestotal(current_user.id).count -%>) 
								
								<%= link_to(image_tag('email.png'),  "/mensajes?tipo=M", :class => 'msgs-link', :title => 'Mensajes') %>
								(<%= Mensaje.mensajessinleer(current_user.id).count -%>/<%=  Mensaje.mensajestotal(current_user.id).count -%>) 

								</li>
                            </ul>
							<% end %>
		          </li>	
	          <li>
				<% if !current_user.nil? %>

				<% if !current_user_is_invitado %>

	            <h3>Modulos de Bazar</h3>
	            <ul class="links">
					<li><%= link_to "Página Principal", "/home" %></li>
				    <li><%= link_to "Mi cuenta",  edit_user_path(current_user.id) %> </li>
				    <li><%= link_to "Mi empresa", edit_bazarcms_empresa_path(current_user.id) %> </li>
					<li><%= link_to "Buscador Empresas", '/bazarcms/buscadorempresas' %> </li>
					<li><%= link_to "Consultas Realizadas", bazarcms_empresasconsultas_path %> </li>
	            </ul>
				<% end %>

				<% end %>
	          </li>

	          <li>
				<% if current_user_is_admin %>

	            <h3>Administración</h3>
	
	            <ul class="links">
				  <li><%= link_to "Usuarios", users_path %> </li>
				  <li><%= link_to "Configuración del Sistema", confs_path %> </li>
				  <li><%= link_to "Gestión Bazares", clusters_path %> </li>
				  <li><%= link_to "Notificacion a Usuarios", '/notificacion?tipo=N' %> </li>
				  <li><%= link_to "Actualización Información", '/updateinfo' %> </li>
	            </ul>

				<% end %>
	          </li>


	         <li>
				<% if current_user_is_dinamizador %>

	            <h3>Dinamización</h3>
	            <ul class="links">
				    <li><%= link_to "Mailing a Usuarios", '/notificacion?tipo=M' %> </li>
				    <li><%= link_to "Noticias", noticias_path %> </li>
	            </ul>

				<% end %>
	          </li>

	          <li>
				<% if current_user_is_invitado %>

	            <h3>Bienvenido a Bazar</h3>
	            <ul class="links">
	                <li><a href="http://api.rubyonrails.org/">Que es Bazar</a></li>
				    <li><%= link_to "Registrate",  new_user_path %> </li>
	            </ul>

				<% end %>
	         </li>


			<li>
				<h3>API</h3>
				<ul class="links">
					<li><%= link_to("Como obtener información", "/api/index") -%></li>
					<li><%= link_to("Ejemplos API Bazar", "/api/ejemplos") -%></li>
				</ul>
			</li>


	        </ul>
	     </div>	
			</div>
			
			
			
			
	  </div>

		<div id="footer">
	    		<a href="http://garumfundatio.org" style="text-decoration: none">Garum Fundatio</a>
		</div> <!-- fin footer-->

	

  </div> <!-- fin container -->

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb6.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(16079,0.045,"www02");
</script>
<!-- ClickTale end of Bottom part -->


  </body>
</html>



